[2013-11-19 23:14] nullcrafts opened #1 "Support dealing with nodes as dictionaries, with dynamic properties"
**Migrated From https://bitbucket.org/Readify/neo4jclient/issue/39/**

Anonymous created an issue 2012-10-05
No description provided.

@tathamoddie
Work started in the `issue-39` branch.

[2013-11-19 23:16] nullcrafts opened #2 "Cypher Node.ByIndexLookup should support expressions"
**Migrated From https://bitbucket.org/Readify/neo4jclient/issue/32/**

@tathamoddie created an issue 2012-09-10
I'd like to be able to write code like this:

[code]

Instead of this:

[code]

here are some tests in the `issue-32` branch already if someone wants to have a crack at this.

**Aran Mulholland**
Using: .StartWithNodeIndexLookup<Foo>("n", "nodes", f => f.Name == value) will give the impr

[2013-11-19 23:21] nullcrafts opened #3 "Cannot update relationship that has no properties"
**Migrated From https://bitbucket.org/Readify/neo4jclient/issue/100/**

elad_b created an issue 2013-05-28
lets say you have a `Relationship<MyRelData>` and `MyRelData` has only one string property.
If you create the relationship when the property is null and later try to update it with some other value, neo4jclient throws an exception regarding json deserialzation.

A workaround is to add an int

[2013-11-19 23:25] nullcrafts opened #4 "Fields [as opposed to Properties] of models cannot be used"
**Migrated From https://bitbucket.org/Readify/neo4jclient/issue/104**

@mavadat created an issue 2013-06-18
I would like to be able to have a model like:

[code]

And then use it in both CRUD operations and queries like `Where<MyModel>(m => m.Foo > 50)`

At current implementation it is a requirement to style model attributes as .NET properties. However, I would expect Neo4jClient not to be opinion

[2013-11-19 23:27] nullcrafts opened #5 "Unicode characters are not roundtripped"
**Migrated From https://bitbucket.org/Readify/neo4jclient/issue/25/unicode-characters-are-not-roundtripped**

@tathamoddie created an issue 2012-08-06
They get dropped back to ???

**elad_b**
Are there any leads on the reason? I have captured the raw HTTP sent by the client and it seems they are correctly encoded as UTF-8

It seems that this is a bug in neo4j batch rest api and no the client. I ha

[2013-11-19 23:30] nullcrafts opened #6 "Synchronous SendHttpRequest uses more than one thread"
**Migrated From https://bitbucket.org/Readify/neo4jclient/issue/88/synchronous-sendhttprequest-uses-more-than**

**Michael Dolinsky** created an issue 2013-04-19
Today's implementation of SendHttpRequest is to call the async version SendHttpRequestAsync and to wait on the returned task. In such case the calling thread will block on waiting and the completion of the task will be done on another thr

[2013-11-19 23:31] nullcrafts opened #7 "Support streaming while deserializing large Cypher datasets"
**Migrated From https://bitbucket.org/Readify/neo4jclient/issue/84/support-streaming-while-deserializing**

@tathamoddie created an issue 2013-04-09
https://groups.google.com/forum/#!msg/neo4j/Lqfv1Q2H_AQ/JZZEW_CGhP4J
https://twitter.com/tathamoddie/status/321619861455392768

[2013-11-19 23:31] nullcrafts opened #8 "ExecuteWithoutResults should have async version"
**Migrate From https://bitbucket.org/Readify/neo4jclient/issue/115/executewithoutresults-should-have-async**

**Michael Dolinsky** created an issue 2013-07-08
Hi,
Currently, you can't perform async Cypher query which is not returning value. Workaround in such case would be to return a dummy value (e.g. .Return("distinct(0)").ResultAsync) but we should have a more proper support.

Thanks, Michael

[2013-11-19 23:33] nullcrafts opened #9 "Extending dictionary does not get properties"
**Migrated From https://bitbucket.org/Readify/neo4jclient/issue/123/extending-dictionary-does-not-get**

**natanr123** created an issue 2013-08-06
I am new to net4jclient. I want to get all the nodes and I want to extend the Dictionary class to write less generics. The problem is that I do not get the properties of the nodes but I do get the number of nodes correctly. Why does it happening? Here i

[2013-11-19 23:35] nullcrafts opened #10 "Exception when trying to return NodeReference instead of Node"
**Migrated From https://bitbucket.org/Readify/neo4jclient/issue/148/exception-when-trying-to-return**

**Jenny Le** created an issue 2013-09-19
Neo4jClient encountered an exception while deserializing the response from the server. This is likely a bug in Neo4jClient.
Please open an issue at https://bitbucket.org/Readify/neo4jclient/issues/new

To get a reply, and track your issue, ensure you are l

[2013-11-19 23:38] nullcrafts opened #11 "EnumValueConverter and AndWhere"
**Migrated From https://bitbucket.org/Readify/neo4jclient/issue/82/enumvalueconverter-and-andwhere**

**Michael Dolinsky** created an issue 2013-04-08
`EnumValueConverter` serializes enum properties using their names.
But when we query some nodes using property of enum type we can't use: `AndWhere<NodeClass>(node => node.EnumProperty != Enum.EnumValue)`

What we should do is... `AndWhere<NodeClass

[2013-11-19 23:40] nullcrafts opened #12 "Add Function.HAS to where expressions"
**Migrated From https://bitbucket.org/Readify/neo4jclient/issue/110/add-functionhas-to-where-expressions**

@mavadat created an issue 2013-06-24
Instead of saying:
`Where<SomeNode>(n => n.Foo > 10 && n.Bar != null)`
I would like to be able to say:
`Where<SomeNode>(n => n.Foo > 10 && Function.HAS(n.Bar))`

So that I can check existence of `Bar` without making `SomeNodeis.Bar` nullable.

@tathamoddi

[2013-11-19 23:41] nullcrafts opened #13 "Debug Mode Interuptions"
**Migrated From https://bitbucket.org/Readify/neo4jclient/issue/168/debug-mode-interuptions**

**Cheval Cheval** created an issue 2013-10-29
When running through the code in debug mode in Visual Studio 2013, I often get a message like "CypherFluentQuery`Where.cs not found". Does the Neo4jClient code need a step through attribute somewhere? I can Shift+F11 to step out of it, but it's annoying none

[2013-11-19 23:46] nullcrafts opened #14 "Support Cypher transactions"
**Migrated From https://bitbucket.org/Readify/neo4jclient/issue/91/support-cypher-transactions**

@tathamoddie created an issue 2013-04-24
http://docs.neo4j.org/chunked/milestone/rest-api-transactional.html

Some thoughts:
We should throw a NotSupportedException if they try to start a transaction where graphClient.Version < 2.0.
We should throw a NotSupportedException if they try to invoke non-Cyp

[2013-11-19 23:48] mavadat opened #15 "Neo4J Error Handling"
**Migrated From https://bitbucket.org/Readify/neo4jclient/issue/26/neo4j-error-handling**

**Daniel Corbett** created an issue 2012-08-14
Errors that come back from Neo4J are not captured and accessible by a user of Neo4JClient.
What I am seeing in this case, is that I get a status code of "OK" BUT it's really a failure:

```The raw response body was: [{"id":0,"from":"/node","body":{"message":"Cou

[2013-11-19 23:55] mavadat opened #16 "Can't seem to return COLLECT([nodeType1, nodeType2])"
**Migrated From https://bitbucket.org/Readify/neo4jclient/issue/172/cant-seem-to-return-collect-nodetype1**

**Jacqui Read** created an issue 2013-11-14
I have the following Cypher which I am struggling to translate into the fluent syntax:
[code]
This is what I have so far, but I can't figure out how to return the COLLECT([r, a]) as Roles. I am using a UserDetails class to enable passing the resul

[2013-11-19 23:57] mavadat opened #17 "Support CollectAs<T> returning T instead of Node<T>"
**Migrated From https://bitbucket.org/Readify/neo4jclient/issue/77/support-collectas-returning-t-instead-of**

@tathamoddie
Have had two different people ask for this

@mavadat
This is what we currently have:
[code]
This is what we would prefer to have now:
[code]
Should we just add new overloads for the new style or break compatibility in favour of better style for new code? If we go with somethi

[2013-11-21 12:10] thepeekay opened #18 "Critical - Support of Optional Match clause"
In RC1 of version 2.0 Neo4j dropped support for optional relationship matches using the ? indicator.

The only way to do it right now is to use OPTIONAL MATCH clause, which is not supported by the client. More info here -> http://blog.neo4j.org/2013/11/neo4j-200-rc1-final-preparations.html

This is actually critical as the syntax is not even cypher parser backwards compatible. So even if you set i

[2013-11-21 18:32] #18 closed, assigned to nobody

[2013-11-21 19:13] #2 closed, assigned to nobody

[2013-11-27 14:46] mcliment opened #19 "OnCreate and OnMatch do not support specifying the node identity anymore"
According to [2.0.0-RC1 documentation](http://docs.neo4j.org/chunked/2.0.0-RC1/query-merge.html#merge-merge-with-on-create-and-on-match), ON CREATE and ON MATCH are followed by a SET instance.

[2013-12-02 11:45] #19 closed, assigned to nobody

[2013-12-02 12:20] bossie opened #21 "Basic authentication: credentials in Authorization header are URL encoded"
I want to set up basic authentication with user = "user" and password = "p@ssword", so I escape the @ sign and prefix the URI for GraphClient:
`http://user:p%40ssword@localhost:7474/db/data`.

The result is that GraphClient creates an Authorization header with a base 64 encoded string for:
`user:p%40ssword`

instead of:
`user:p@ssword`

I would expect that GraphClient URL decodes `user:p%40ssword`

[2013-12-16 13:29] rparsonsmsft opened #22 "Merge does not find match - creates new node"
I'm seeing a similar behavior as the following user:

http://stackoverflow.com/questions/20501806/how-to-create-a-unique-node-not-repeated-if-already-exists-in-c-sharp-neo4jcli

I'm using the latest public build of the Neo4Client with the 2.0 Community Edition. When I call Merge like this:

[code]

It gives me a duplicate node. BTW, the Wiki has not been updated to reflect the new OnCreate behavio

[2013-12-31 18:00] #22 closed, assigned to nobody

[2014-01-14 08:57] cskardon opened #24 "Unable to pass in collection identifiers"
This should be allowed:

[code]

but at present this will throw an ArgumentException due to the use of the ',' in the identity.

[2014-01-16 15:51] cskardon opened #27 "Handling Binary Expressions in Return statement"
From: http://stackoverflow.com/questions/20694000/binary-expression-in-return-statement-neo4jclient-neo4j

Example code:

[code]

currently throws a NotSupportedException regarding LogicalBinaryExpressions.

It should output:

[code]

[2014-01-17 08:21] #27 closed, assigned to nobody

[2014-01-17 08:22] #24 closed, assigned to nobody

[2014-01-23 11:08] Felienne opened #30 "NullReferenceException when class misses getter/setter"
When a class you serialize to has properties without getter and setter, you get a NullReferenceException. No sure if this is intended to fail, but at least a proper error message would be helpful.

[2014-01-24 00:28] #30 closed, assigned to nobody

[2014-02-07 05:44] techmanmike opened #31 "Performance"
I have been playing around with the MovieLens dataset in neo4j and have been running queries in the console that take around ~200ms.

When I take the same query and use the Neo4jClient it takes around 500ms. I know there is some great things being done under the hood, but this seems like a significant overhead.

Here is the cypher query:

MATCH (m:Movie)<-[r:RATED]-(u:User)-[rr:RATED]->(mm:Movie)

[2014-02-14 18:59] dcinzona opened #33 "Batch CRUD operations"
Hi all,
Disclaimer: I'm new to Neo4j.

Problem:
User has a spreadsheet of new contacts (class Contact {...}) that they upload through an MVC web app that then gets inserted into a SQL database.  We would like to take that new data IEnumerable<Contact> list and bulk insert it into Neo4j as nodes (and then batch the relationships with other classes).

Is it possible to take a collection of Node<T> a

[2014-02-15 02:11] #33 closed, assigned to nobody

[2014-02-17 14:47] dcinzona opened #34 "Pass in Parameters into Foreach loop"
I'm trying to create a foreach loop to bulk relate various entities that already exist.
The Cypher statement in the console works, but when I try to do it through the .net client, I get an error.

Working Cypher:

foreach(row in [{ContactId:25927,AddressId:27282}] |
merge (c:Contact {ContactId:row.ContactId})
merge (a:Address {AddressId:row.AddressId})
merge (c)-[:ContactAddress]->(a)
)

The above

[2014-02-17 17:44] tsdaemon opened #35 "Obtain node properties as dictionary"
Is there any way to obtain plain dictionary of node\relation data? I don't need to create strongly typed classes, I just want to pass a whole list of any properties, that exists in node. Something like that:
.Return(n =>
                                    new Node()
                                        {
                                            Id = n.Id(),

[2014-02-26 02:03] dcinzona opened #36 "Get Schema Index for Label / Property"
Does the method CheckIndexExists support checking the schema index?  I'm using Neo4j 2.0 and would like to create secondary indexes but want to check if the index exists before sending the CREATE command. The same question applies to unique constraints.

[2014-03-05 13:48] Quantentunnel opened #37 "[Wiki] Howto create a new node with a label?"
Adding an paragraph about "Howto create a new node with a label?"
Till now i used this code:
$ client.Create(node);

And it would be interesting how to modify a label.

So how can i use the new neo4j 2.0 feature? Thanks!

[2014-03-06 03:13] #37 closed, assigned to nobody

[2014-03-18 15:46] wis3guy opened #41 "GraphClient construction"
I know, this is has to do with personal preference, but i feel that constructors should only result in directly usable objects. At least, that's what we, as class designer should strive for. The exception to this rule are so called Builders.

When using the `GraphClient`, i need to construct the object, but i cannot use any of it's features until i call `Connect()`. This feels a bit odd, and leads

[2014-03-18 22:18] #41 closed, assigned to nobody

[2014-03-21 06:15] tsdaemon opened #42 "Ignore attribute for the parameters"
When I want to create or update node, I pass a node model as a parameter:

[code]

But some properties in node model need to be ignored. Is there any way to create attribute, something like a

[code]

[2014-03-21 06:16] #42 closed, assigned to nobody

[2014-03-23 11:21] dmakogon opened #45 "Neo4jclient package not compatible with Windows Store apps"
When attempting to install the neo4jclient package with a Windows Store app, I run into a framework incompatibility. Most likely related to something required in neo4jclient that's not present in 4.5.1 core libraries for Store apps. Exact error:

install-package : Could not install package 'Neo4jClient 1.0.0.649'. You are trying to install this package into a project that
targets '.NETCore,Version

[2014-03-29 20:31] mfcd opened #48 "Method not found: 'Void Newtonsoft.Json.JsonReader.set_DateParseHandling(Newtonsoft.Json.DateParseHandling)'"
Hi,

I have just installed the Neo4jClient.
On VS 2012, F#, my code is, besided the "#r" directives and the open statements is just

[code]

I get the following error message:

System.MissingMethodException: Method not found: 'Void Newtonsoft.Json.JsonReader.set_DateParseHandling(Newtonsoft.Json.DateParseHandling)'.
   at Neo4jClient.Serialization.CustomJsonDeserializer.Deserialize[T](String conte

[2014-03-31 04:50] #48 closed, assigned to nobody

[2014-03-31 06:44] kindermansx opened #49 "Exception while connecting to neo4j v2.1.0-M01"
Hi there,

Just installed neo4j on fresh vm and got an exception while connecting. Any plans to provide an update?

Cheers, Xavier

System.InvalidOperationException was unhandled
  HResult=-2146233079
  Message=While trying to map some JSON into an object of type Neo4jClient.ApiModels.RootApiResponse, we failed to find an expected property (cypher) in the JSON at path data.

The JSON block for thi

[2014-04-10 00:39] #45 closed, assigned to nobody

[2014-04-11 20:59] danielhmorgan75 opened #50 "Upgrade to Neo4jClient 1.0.0.651 results in NullReferenceException"
I have a working solution that is using Neo4jClient 1.0.0.646 with no problem. When I install the nuget package for the latest 1.0.0.651 I receive a NullReferenceException on every attempt to return query results. Given the stack trace details below can someone diagnose the issue for me? I am on Json.NET 5.0.6 if that is relevant. I see the REST calls going out and coming back with the correct dat

[2014-04-15 20:32] radleta opened #51 "Deadlock occurs when calling ExecuteWithoutResults in ASP.NET"
It appears when you switched over to using the HttpClient from Microsoft.Net.Http you started calling the Async method. This causes a deadlock in ASP.NET as described on this Stackoverflow Q&A: http://stackoverflow.com/questions/15021304/an-async-await-example-that-causes-a-deadlock

There is a way to fix it. It's a serious problem though for those of us using the client to connect to Neo4j within

[2014-04-24 12:57] michaelbarnes opened #53 "Could not load file or assembly error"
When we installed a previous version the Neo4jClient via nuget we saw that Newtonsoft.Json version 4.5.0.0 was installed as a dependency. We also use other packages that require version 6.0.0.0 of Newtonsoft.Json and when we install them it overrides version 4.5.0.0.

When we start our app we get this error:

Unhandled Exception: System.ServiceModel.FaultException`1[System.ServiceModel.Ex
ceptionD

[2014-05-05 13:28] #53 closed, assigned to nobody

[2014-05-21 10:08] #50 closed, assigned to nobody

[2014-05-21 14:29] davidgraca opened #55 "Query: Support for Where IN"
Hello,

Is it possible to do a query that in cypher looks like this in Neo4jClient?

[code]

I've tried something like this:

[code]

And an incorrect Cypher query was generated.

Thanks

[2014-05-21 22:43] #55 closed, assigned to nobody

[2014-05-26 16:55] ConnectedReasoning opened #57 "GraphClient.DeleteAllRelationships fails when credentials are included in uri"
When I call GraphClient.DeleteAllRelationships and I am including credentials in the client root URI, I get an exception with the message "startIndex cannot be larger than length of string."

In the method
var relationshipResources = result.Select(r=>r.Self.Substring(RootUri.AbsoluteUri.Length))

When RootUri contains the credentials, r.self,  though also a uri, does not contain the credentials. T

[2014-06-03 21:34] Rafailong opened #58 "Does this works with Mono?"
I am searching for tool for a new project that could run in mono or windows and we want to use Neo4j but we dont know is this "driver" works in mono.

Can you help me?

Best Regards!

[2014-06-16 19:45] bishwajeet300 opened #59 "How do I retrieve list of nodes?"
I have a cypher query which returns all the nodes satisfying the given condition.

Match (user)-[rel:likes]->(like)
Where like.Category="xyz"
Return like;

I want to use it in c#. I have written the following using Neo4jClient but it doesn't seem to work. Please suggest.

var categoryLike = neo4jclient.Cypher
                        .Match("(user)-[rel:likes]->(like)")
                        .Whe

[2014-06-17 19:12] chengbo opened #60 "Compress response when calling neo4j rest api"
It seems when calling REST api, client doesn't ask server to compress the response.

[code]

Could you add this feature?

[2014-06-17 23:51] #60 closed, assigned to nobody

[2014-07-14 20:20] SVPD-HenryKwan opened #61 "What is the status on streaming support?"
I am running into out of memory errors with large datasets.  Was wondering if this feature will be added?  I saw it on the features list but it was back in November of last year.

[2014-08-01 19:23] n074v41l4bl34u opened #62 "Add UNWIND operator"
Neo4jClient lacks UNWIND operator: http://docs.neo4j.org/chunked/stable/query-unwind.html

[2014-09-22 12:27] mrtaikandi opened #69 "Support for IsConnected property or method in IGraphClient"
It would be nice if we have the ability to check whether the client is connected or not.

[2014-09-23 19:53] bananatron1 opened #70 "TaskCanceled exception"
On your bitbucket.org page you had an issue open where internal exception "TaskCanceled" was being triggered sometimes. I'm currently experiencing that issue with some formulations of queries. Is that issue still being tracked/worked on?

[2014-10-15 07:55] EnsoPadu opened #71 "import .csv in c#"
Hi, I'd like to do something like this in c# :

LOAD CSV WITH HEADERS FROM 'file:/Users/Stage01/Desktop/csv/rels.csv' AS rels
MATCH (from {id: rels.From}), (to {id: rels.To})
CREATE from-[:REL {type: rels.'Relationship'}]->to

how can I translate this in c# using neo4jclient?

[2014-11-24 09:24] sorenbs opened #73 "Support cypher 2.1.experimental version"
The ParserVersion function only accepts ints making it impossible to specify the cypher 2.1.experimental version, which in some cases is significantly faster than 1.9 ot 2.1. See https://groups.google.com/forum/#!topic/neo4j/howuyecjNts

    public ICypherFluentQuery ParserVersion(Version version)
            {
                if (version < minimumCypherParserVersion)
                    return Mu

[2014-11-30 21:05] therealcodesailor opened #74 "shortestPath"
How do I structure the .Return clause in a shortestPath .Match call?  e.g. the example of Kevin Bacon to Meg Ryan?  Thanks in advance!

[2014-12-02 14:38] cskardon opened #75 "Add the ability to set the max-execution-time header"
I have a case where I want to restrict how long a given query takes, I can set it server-wide with the `org.neo4j.server.webserver.limit.executiontime=XXX` setting in `neo4j-server.properties` but, this doesn't give me the granularity I need.

Neo4j has the `max-execution-time` header which can be sent with the cypher queries and it will restrict the time a query can run.

I propose a `MaxExecutio

[2014-12-08 13:10] jace1976 opened #78 "Add REMOVE operator"
Neo4jClient lacks REMOVE operator: http://neo4j.com/docs/stable/query-remove.html
This is required to allow labels to be removed from Nodes.

[2014-12-10 23:43] #78 closed, assigned to nobody

[2014-12-15 10:59] robomotic opened #79 "BatchInserter example code"
Hello guys,
I have been using your library which is great.
I am experiencing performance issues now as I don't know how to perform the batch insert equivalent as shown on this [example](http://neo4j.com/docs/stable/batchinsert-examples.html).
It will be nice to have a code example in the documentation.
Cheers.

[2014-12-15 11:02] #79 closed, assigned to nobody

[2015-01-07 09:49] ImranAppdev opened #80 "How to add multiple relationships between different nodes in one transaction."
Hi,
I have created many nodes in Neo using Neo4jClient in one go, i mean in single transaction.
Now want to create different relationships in between them. I know left nodes, right nodes and relationship in between them. But its a list not single relationship.

I don't find any way to create multiple relationships between multiple existing nodes in single transaction.

I am struck at it very badly

[2015-01-07 10:13] tathamoddie commented on #80
Howdy!

Please raise questions at https://stackoverflow.com/questions/tagged/neo4jclient, where lots of people can help.

GitHub issues are more for specific bug reports or feature requests.

Thanks.

[2015-01-07 10:13] #80 closed

[2015-01-07 10:14] tathamoddie commented on #80
Ah! Looks like you just did: http://stackoverflow.com/questions/27816645/how-to-add-multiple-relationships-between-different-nodes-in-one-transaction

[2015-01-17 22:45] ravensorb opened #81 "Support for PCL?"
Are there any plans to port this to a PCL compatible library?

[2015-01-21 03:22] ravensorb opened #82 "Support for ContractResolver when Deserializing"
I am trying to find a way to support contract first developer and Neo4j.  I was curious if anyone has given any thought to supporting the ContractResolver functionality that is part of Json.NET?

[2015-01-22 00:11] tathamoddie commented on #82
I haven’t done any thinking around this.

--
Tatham

From: Shawn [mailto:notifications@github.com]
Sent: Wednesday, 21 January 2015 14:22
To: Readify/Neo4jClient
Subject: [Neo4jClient] Support for ContractResolver when Deserializing (#82)

I am trying to find a way to support contract first developer and Neo4j. I was curious if anyone has given any thought to supporting the ContractResolver functi

[2015-01-30 09:17] ryanjohnvelasco opened #83 "Return label with result throw an error."
Additional information: Neo4j returned a valid response, however Neo4jClient was unable to deserialize into the object structure you supplied.

First, try and review the exception below to work out what broke.
If it's not obvious, you can ask for help at http://stackoverflow.com/questions/tagged/neo4jclient

Include the full type definition of BusinessMap.GraphConsole.CompanyVesselsWithStats.

Inc

[2015-02-01 14:53] gouravd opened #84 "Is there a way to set the JSON setting ReferenceLoopHandling?"
I have few objects that have self referencing child. In Elasticclient I had used the setting ReferenceLoopHandling to ignore and it served the purpose.

Is there a way to set the same for GraphClient?

[2015-02-04 12:38] douglassmachado commented on #14
Any heads up on how far the transaction implementation has taken? I hope, it is something we can see soon.

[2015-02-19 14:28] jay-ho commented on #35
Just chiming in to say this would be an excellent feature.

[2015-03-03 20:00] ssujay opened #86 "NuGet fails to install due to dependency in Microsoft.Net.Http 2.2.29"
Created a new project which includes Microsoft.Net.Http package - version 2.2.29.  When I attempt to install Neo4jClient, it won't proceed due to the current package version being 2.6.40627.9000.

How should I proceed?

[2015-03-03 21:49] ssujay commented on #86
Many thanks to Jeremy Kendall and Greg Jordan at the amazing Graph Story for their assistance helping me find this Stack Overflow link and getting me going.  This issue can be closed.

http://stackoverflow.com/questions/27384885/how-to-upgrade-nuget-with-visual-studio-express-2012

[2015-03-03 21:49] #86 closed

[2015-03-11 11:23] minkaotic opened #87 "Getting specific node by node id"
Is it possible to return a node by its default id, i.e. in what would correspond to the following Cypher query:

MATCH (release:Release)
WHERE id(release)= 2
RETURN release

I have tried this using a similar example provided in your docs at https://github.com/Readify/Neo4jClient/wiki/cypher-examples#get-specific-user, however this does not work as expected:

MATCH (user:User)
WHERE user.Id = 1234

[2015-03-11 11:38] cskardon commented on #87
Please ask these questions on Stackoverflow as you'll get a faster response
- and the answer is shared with others who might want the solution.

*however*, you can do it like this:

var query = gc.Cypher
    .Match("(n)")
    .Where("id(n)={param}")
    .WithParam("param", 39070)
    .Return(n => n.As<Node<string>>());

Bearing in mind, I'm using 'Node<string>' as I don't know what's in my DB
for

[2015-03-11 12:34] minkaotic commented on #87
Fantastic, this works a treat! I do think it would be intensely useful for this to be added to the wiki / documentation though if it isn't yet, rather than deferring people to Stackoverflow?

As I failed to find it in the docs, my fear was that it maybe wasn't even provided functionality, which lead me to ask here first, however apologies if it is already covered and I was simply too **** to find

[2015-03-11 12:34] #87 closed

[2015-03-11 13:06] cskardon commented on #87
The problem is that for me to do a wiki update would require me to do a
pull request. That then waits for Tatham (or someone else from Readify) to
do a merge and commit.
Whereas StackOverflow is instantly available and turns up on Google
searches pretty quickly. Obviously putting everything into documentation
would be ace, but you can get some nice context as to the original problem
and solution v

[2015-03-12 09:23] tigerdog opened #88 "How can I get the result from cypher create or delete statement"
consider the following statement
match (n)  where n.userName='abc' delete n;

when Ii process this via cypher.Delete.ExecuteWithoutResults .
How can I Get the result .I don't know whether the node was deleted. maybe the node does not exists in the database

[2015-03-20 10:50] rheusinkveld commented on #16
One solution that worked for me is by a slight change in the Cypher query.

[code]

Your code could look like this:

[code]

[2015-03-26 08:57] Jelteh commented on #81
Would be really nice to have this!

[2015-04-13 09:01] RossJayJones opened #89 "Is there a way to return object literals?"
I am looking for  a way to return an object literal in a return statement in order to create a projection for a child element in the result set. In pure cypher it would look something like this

MATCH (user:User { Username: "somevalue" })
MATCH (branch:Branch { Id: "somevalue" })
MATCH (user-[:HAS_ACCESS_TO]->(assetTag:AssetTag))
MATCH (assetTag-[:BELONGS_TO]->branch)
MATCH ((asset:Asset)-[:TAGGED

[2015-04-20 19:48] jbkielis commented on #6
Bumping this.  Is there any timeline for the fix?  Thanks.

[2015-05-19 15:05] cheerfulstoic opened #90 "Status of this project"
Hello!  I'm a developer advocate for Neo4j and I wanted to check on the status of this driver.  Looking around I haven't seen much activity.  Feel free to let me know if you need anything from Neo to help support the .NET community!

[2015-05-20 18:40] fkfouri opened #91 "VB.NET is implementing StringCompare, overriding lambda functions"
Dear all,

I'm using the Neo4jClient with VB.NET code, but, when I used method WHERE with lambda functions, the Microsoft VB Compiler override the lambda functions to Operators.CompareString.

See example in VB.Net:

    client.Cypher. _
                Match("(n:Movie)"). _
                Where(Function(n As Movie) n.title = "The Matrix"). _
                OptionalMatch("(n)-[r]-()"). _

[2015-05-20 20:12] ekkis opened #92 "Powershell scripts"
I've recently installed the library and went about writing my first line:

    $neo = new-object Neo4jClient.GraphClient(new-object Uri("http://localhost:7474/db/data"))
    $neo.Cypher.Match("n").Return({param($m) $m});

which failed with the error:

being suspect of the lambda expression I also tried the string overload:

    $neo.Cypher.Match("n").Return("n");

but that results in the same erro

[2015-05-29 04:33] RaphHaddad commented on #90
I @cheerfulstoic. This is being used.

http://stackoverflow.com/questions/tagged/neo4jclient

Thank you :)

[2015-05-29 16:56] ekkis commented on #90
@cheerfulstoic, one thing it's missing is Powershell support.  I've done the preliminary work to figure out how to use it, as documented here: http://stackoverflow.com/questions/30314696/return-overload-fails and mean to document it into the Neo wiki.  in fact, what would make the whole thing considerably easier is if Neo4jClient would offer a non-generic version of the .Return method.

anyhow, if

[2015-05-31 21:23] cheerfulstoic commented on #90
Sorry, I wasn't clear ;)  I'm not a maintainer of the library, I was asking the maintainer(s) (the Readify team, I think) if this project is being maintained (responding to issues/fixing code/adding code/releasing new versions).  I've not used .NET yet, but I wanted to check in on it.

[2015-06-08 07:02] beast opened #94 "Neo4j Spatial Plugin Support"
Hi, all. I am working on a project that needs to use the spatial plugin for geolocation search. I haven't found anything particular for .NET. And since I've been using neo4jclient and quite happy with it. I am thinking either help contribute to this or just write it on my own. But if you guys do have plan to support this, please let me know. Thanks!

[2015-06-08 15:09] gpierrick commented on #94
Hi I have done some work in the past around the spatial plugin and Neo4j in .net and the easiest way is to call the REST API manually.

[2015-06-16 21:26] ekkis commented on #92
anyone interested in running Cypher from Powershell can now find the instructions on the wiki docs for the Neo4jClient.  I figured it out and documented it.

[2015-06-16 21:26] #92 closed

[2015-07-07 12:24] neutmute commented on #90
+1. A few outstanding pull requests and not much activity on them. Where is the love Readify? :)

[2015-07-07 14:39] #34 closed

[2015-07-07 14:40] #36 closed

[2015-07-08 01:19] tathamoddie commented on #90
Hi. I'm the current maintainer.

@jexp has been asking me the same question via email, so time to write it all out…

## Looking back

This library started back in early 2011. We (@Readify) were kicking off a project that we decided to use Neo4j for. That project is still running to this day: it’s the one @RaphHaddad is on. The majority of the team are client-devs, with some Readify leadership and

[2015-07-08 01:21] tathamoddie commented on #90
Ooops ... one more option I forgot to mention: does this library have enough baggage that it's time to cut our losses and start again, with something that is more modern and Cypher-focused? Transactions, new remoting protocol, and pure-Cypher support from day 0?

[2015-07-08 07:18] cskardon commented on #90
Hi @tathamoddie

First and foremost - I think a big thanks is in order, Neo4jClient has been the defacto standard for .NET development for a while now and without it, rolling our own would have taken up a lot more time, and there would be even less .NET usage (yes - *even* less)

In terms of options - I think there are a few things to get into Neo4jClient (transaction support, and to handle all ke

[2015-07-08 10:52] simonpinn commented on #90
Hi @tathamoddie ,

Also a huge thank you for providing a library to allow us to unlock Neo4j in the .Net space without going through the pain of managing our own libraries, I certainly wouldn't have picked up Neo4j as a replacement datastore so quickly had it not been available. And, I for one still regularly use the libraries having also produced the entity extension library to augment the Neo4jC

[2015-07-08 17:03] ekkis commented on #90
I wish to second the sentiment in that we owe you a debt of gratitude.  a .Net client opens the world of Neo for a good many of us.  I’ve only recently discovered Neo and see tremendous potential within the corporation.  without a .Net client writing apps with it would be nearly out of reach for me.

to that I would like to add that I wish I had the time as I would love to contribute, but frankly

[2015-07-08 18:22] arturosevilla commented on #90
Hi,

Where I work we keep using Neo4jClient for a big product that we have, but we use it using my transactions implementation as we do require it.

Thanks for the great work.

[2015-07-08 23:15] RaphHaddad commented on #90
I would like to see a new client with a 'Cypher-first' architecture.

I would be more than happy to contribute to this as well. However we shouldn't just drop support for the current client.

[2015-07-08 23:17] ekkis commented on #90
something which just takes a cypher string.  that would be my preference too.  leave the client agnostic of the language the back-end talks

[2015-07-08 23:30] neutmute commented on #90
@arturosevilla which branch of your fork do you use for your production transactions implementation?
We are starting a new project with neo4j and since the master of this branch does not support transactions, we will start with yours. Is your version published as a nuget package?

[2015-07-09 00:08] RaphHaddad commented on #90
@neutmute I am at this customer at the moment.

There is no migration to an 'alternate graph database' in our minds nor in the customer's mind at the moment (for this customer). Readify has been engaged (and has an excellent relationship) with this customer for several years and we've seen the project grow, scale and adapt. Neo4j has also been part of this growing and adapting. I don't think we wi

[2015-07-09 00:57] arturosevilla commented on #90
@neutmute inside of my repository you can find the branch aggregatewithoutgenericnodewithnullinmemberexpressionfix which I recommend because is more up to date with the changes that also have been applied as well as other changes that I made. If you see a problem you can also find the transactions branch. But no, I don't have them published as a nuget package.

I do agree with @tathamoddie as I ha

[2015-07-09 09:04] cskardon commented on #90
Personally, I think a more 'overhaul' approach might be better, yes - it's work as @tathamoddie and @arturosevilla have mentioned a rewrite of the request / parser area is significant and time consuming. But Neo4jClient has been downloaded 65K+ - now I know I'm responsible for downloading it a lot more than once :), but regardless it's a significant number of people, and it's a large number of peo

[2015-07-09 13:00] nigelsmall commented on #90
You ran an excellent project, @tathamoddie. You'll be sorely missed.

[2015-07-09 23:59] neutmute commented on #90
@cskardon agree with your overhaul approach. Given @arturosevilla's transaction support has been in PR status for 18 months, there is an immediate risk that this project fragments between the dormant readify:master branch and @arturosevilla's more active fork. Starting a rewrite now would only dilute potential contributor resources even further IMHO.

Perhaps something like this?
1. First pass on

[2015-07-10 06:07] jexp commented on #90
Thanks a ton @tathamoddie for your amazing work, and I'm really happy that so many of you chime in with their suggestions and offers to help. We should probably have done this earlier :)

I totally agree with @neutmute's points.

I'd love if the work from @arturosevilla was merged in and we started to address a number of topics (which we should create issues for).

I suggest that @cskardon and som

[2015-07-10 08:31] arturosevilla commented on #90
@neutmute @jexp I'm open to any changes or branches you'd want to join into my transactions implementation. I can tell you that where I work we are serving critical infrastructure using such build, but I do think there are some improvements that could be done regarding the ITransaction interface that I did with the System.Transactions in .NET. If you want to with my fork, please review the Neo4jCl

[2015-07-10 09:48] cskardon commented on #90
So we have 2 core branches here, the `master` on Neo4jClient that contains pulls and fixes including F# support etc and @arturosevilla 's `aggregate....` branch with transaction support.

Ideally, we want to pull @arturosevilla's into the `master` and get the benefits of

a) the current tested `master` codebase of @tathamoddie
b) the current tested `aggregate...` codebase of @arturosevilla

Pullin

[2015-07-10 12:51] CharlieDigital commented on #90
@cskardon I think it's about time :)

I asked @arturosevilla to spend a month to write and unit test the transactional support at the very beginning of our project as we wanted to have unit tests for our core queries.

For us, it has been working flawlessly over thousands of hours of use and the transactions and are an absolute must if you want to unit test your core queries or multi-query executi

[2015-07-10 16:09] cskardon commented on #90
@CharlieDigital I think so too :)

My current branch (cskardon/neo4jclient) currently contains the merge of @arturosevilla's and this repo's `master`. Obviously this needs some testing, but as it stands all tests are passing (though one does fail in NCrunch for some reason - which I need to investigate - I think it's a quick one).

So this includes the CamelCase fixes, F#, Transactions etc, and *s

[2015-07-12 23:59] neutmute commented on #90
@cskardon if you can get your branch published as a nuget prerelease package I'm happy to dogfood it with the caveat that our project is just kicking off so it won't exactly be a huge amount of coverage. I'll be using it in combination with fluent config from [Neo4jClient.Extension](https://github.com/simonpinn/Neo4jClient.Extension)

[2015-07-13 08:32] jexp commented on #90
Hello Everyone,
 just a quick question, my colleagues are looking for example use-cases how people use Neo4j from .Net, so if you want to share what you're doing, please drop me an email to michael at neo4j.org

Thanks a ton!

[2015-07-13 14:00] cskardon commented on #90
@neutmute  I can publish one to a myget feed for now? Obviously it'll take a bit of time before getting to the proper Nuget feed - but it would work in the same way....

[2015-07-14 01:51] neutmute commented on #90
@cskardon a myget feed would do fine!

[2015-07-14 05:54] cskardon commented on #90
@neutmute - okey dokey - give https://www.myget.org/F/neo4jclient-tx/api/v2 a whirl - it's in there as pre-release. There is a breaking change, and that's the return of the 'collectas' methods - no longer Node<T> but just T

[2015-07-14 05:57] arturosevilla commented on #90
@cskardon That's awesome, I'll be happy to provide input on implementation if needed.

[2015-07-14 06:03] cskardon commented on #90
@arturosevilla That'd be great, obviously your unit tests provide some documentation, but more is always good :)

[2015-07-15 14:12] cskardon commented on #90
Guys (n' maybe gals?) - there is a pre-release version containing @arturosevilla's changes in the official nuget location now.

Depending on feedback, we'll look at pushing to the proper version asap, please note there **is a breaking change** if you use **CollectAs** in your code, in 1.0.0.662 this returned `IEnumerable<Node<T>>`, in 1.1.0-Tx# this returns just `IEnumerable<T>`.

Once we've ascer

[2015-07-15 14:23] gpierrick commented on #90
Bit late to the discussion but willing to help as well!

Although these days I spend more time in node.js with Neo4j and .net and SQL but I still maintain my first startup timeblend.com which uses Neo4jClient. (Neo4j 1.9)

Thanks

[2015-07-15 14:35] cskardon commented on #90
Ace @gpierrick, there's still your Pull to get in :)

[2015-07-16 00:28] neutmute commented on #90
Great work @cskardon! Just last night I branched @simonpinn's extensions and referenced your myget package. Will update to the official prerelease and pull that into my solution over the coming days. Been busy shaving vNext yaks.

[2015-07-16 02:22] tathamoddie commented on #90
To keep everyone in the loop, ~18 hours ago @cskardon and I finally caught up for a long overdue Skype chat.

It's evident from Chris' [long term StackOverflow efforts](http://stackoverflow.com/search?q=user:2266+[neo4jclient]), prior PRs, and engagement in this thread, that he's a key contributor to the project, and a safe set of hands.

I've gone ahead and given him write access to this repo, an

[2015-07-16 02:22] #90 closed

[2015-07-16 02:25] mavadat commented on #90
Great stuff @tathamoddie :+1:

[2015-07-16 14:38] jexp commented on #90
Thanks so much Tatham, Chris and everyone who chimed in, I'm soo happy and grateful that Neo4jClient will be woken from its beauty sleep.

As mentioned before, I'm happy to give the project a new home at github.com/neo4j-contrib if that would be interesting.

I'm not sure we need a name, change, it is very much established, has high google results and stackoverflow tags.

I think what makes more s

[2015-07-16 23:34] neutmute commented on #90
+1 name shouldn't change due to SEO

[2015-07-20 16:59] TimberRaft opened #96 "Neo4jClient Transactions - Auth Error on Transaction Completion"
Using (Neo4jClient 1.1.0-Tx00008)
Also posted to stackoverflow.com (http://stackoverflow.com/questions/31519633/neo4jclient-transactions-auth-error-on-transaction-completion)

I am attempting to use the latest pre-release of Neo4jClient transaction support (Neo4jClient 1.1.0-Tx00008).  I have tried the most simple example, but seem to always get an authentication error whenever the transaction com

[2015-07-20 17:16] cskardon commented on #96
Hi @TimberRaft, I've replied to your StackOverflow, and the long and short of it is that for the time being you need to use an Http Wrapper (see http://geekswithblogs.net/cskardon/archive/2015/03/27/upgrading-your-neo4j-from-xxx-to-2.2.0ndashhaving-authorization-trouble.aspx).

This does need to be addressed within the client, so I'll have a look at that in a short while.

[2015-07-20 17:18] TimberRaft commented on #96
I am grateful for the transaction support and the immediate workaround.

Thank you!

From: Chris Skardon [mailto:notifications@github.com]
Sent: July-20-15 1:17 PM
To: Readify/Neo4jClient
Cc: Timber Raft Inc.
Subject: Re: [Neo4jClient] Neo4jClient Transactions - Auth Error on Transaction Completion (#96)

Hi @TimberRaft <https://github.com/TimberRaft> , I've replied to your StackOverflow, and the

[2015-07-20 19:58] TimberRaft commented on #96
At this point, I am trying to get some transactional updates working inside an NServiceBus handler. NSB handlers have an existing ambient distributed transaction.  Even if I declare the client with the http wrapper, an auth exception is thrown when NSB commits the transaction.  I have cloned your repo and referenced it in my solution so that I can try to see what's going on.  With this library, wi

[2015-07-21 07:08] cskardon commented on #96
Righto, so make sure you're in the 'issue-14---T' branch for the Tx stuff.

I've no experience with NSB, so I'm not sure exactly how to help, _but_ I'm guessing that there must be some calls being made not using the HttpClient passed in, which is odd and shouldn't happen. I'm very interested in seeing where you get with it and helping if I can, it's super cool that you're looking into it as well,

[2015-07-21 07:22] cskardon commented on #96
I think I know the source of the problem, give me a little while and I'll see if I can fix it ~ couple of hours or so

[2015-07-21 08:52] cskardon commented on #96
Pre-release 1.1.0-Tx00009 is now in nuget, ready for the getting, I think it should solve your problem, please could you give it a try and see?

Cheers

[2015-07-21 13:56] TimberRaft commented on #96
I tried, and it got past the auth exception, however, It seemed to get past the auth error.  Now there is a null reference exception:

	Object reference not set to an instance of an object.
		  at    Neo4jClient.Transactions.Neo4jTransaction.DoKeepAlive(ITransactionExecutionEnvironment transactionExecutionEnvironment) in D:\temp\tmpD705\Neo4jClient\Transactions\Neo4jTransaction.cs:line 248
	   at

[2015-07-21 15:18] cskardon commented on #96
Right, I know this is a pain, but would you be able to user source version (specifically `issue-96` branch) and try that version in your codebase?

I'm pretty certain it's something to do with the way the HttpClient is passed to the Tx code.

[2015-07-21 15:19] TimberRaft commented on #96
I will. I should have a chance to try this out this afternoon.

From: Chris Skardon [mailto:notifications@github.com]
Sent: July-21-15 11:19 AM
To: Readify/Neo4jClient
Cc: Timber Raft Inc.
Subject: Re: [Neo4jClient] Neo4jClient Transactions - Auth Error on Transaction Completion (#96)

Right, I know this is a pain, but would you be able to user source version (specifically issue-96 branch) and try

[2015-07-21 15:49] TimberRaft commented on #96
I have downloaded and referenced the branch you specified.
The exception is thrown at line 248 of Neo4jTransaction.cs.

in this call:

            DoKeepAlive(
                keepAliveUri,
                new ExecutionConfiguration
                {
                    HttpClient = Neo4jTransactionResourceManager.ExecutionConfiguration.HttpClient,
                    JsonConverters = Neo4jTransac

[2015-07-21 18:38] cskardon commented on #96
Hmmm, ok, what do I need to do to get setup in the same way as yourself?

[2015-07-21 18:42] TimberRaft commented on #96
It's small enough.  Let me take a few minutes to ensure that it will work for you.  Need to strip out some dependencies.

[2015-07-21 18:47] cskardon commented on #96
Ace, my email is on my profile page: https://github.com/cskardon

[2015-07-22 08:02] cskardon opened #97 "Allow the client to be constructed with user/pass for N4j 2.2 Auth"
Instead of having to use the `HttpClient` work around (see http://geekswithblogs.net/cskardon/archive/2015/03/27/upgrading-your-neo4j-from-xxx-to-2.2.0ndashhaving-authorization-trouble.aspx)

[2015-07-27 07:00] RaphHaddad opened #98 "Support for DateTime"
Hi,

[Currently the Neo4j client only supports DateTimeOffset](http://stackoverflow.com/questions/21718799/another-exception-thrown-by-neo4jclient).

Would it be possible to support DateTime?

I am aware that DateTimeOffset as a data type can be used to perform the same functions. However having DateTime would be something 'nice-to-have'. Especially to make things more clear in different code-base

[2015-07-27 07:03] tathamoddie commented on #98
A PR to broaden type support is likely to be accepted.

[2015-07-27 07:18] mavadat commented on #98
I wonder whether existing [.NET TypeConverter] (https://github.com/Readify/Neo4jClient/blob/master/Neo4jClient/Serialization/TypeConverterBasedJsonConverter.cs) support comes handy. It was added more than a year after the abovementioned SO question.

[2015-07-28 17:09] tugberkugurlu opened #101 "Asynchronous GraphClient.Connect"
I wanted to give it a try and implement this async but before starting that, it would be good to know if there is a particular reason why this wasn't implemented async.

[2015-07-28 17:11] cskardon commented on #101
No reason I'm aware of - if you want to do it - go for your life! (and thanks!)

[2015-07-28 17:16] tugberkugurlu commented on #101
@cskardon awesome, I will give that a go.

[2015-07-28 17:21] cskardon commented on #101
Ace!

[2015-07-30 19:15] lemexp commented on #33
I know this issue is old but I'm trying to accomplish the same thing you are here and was wondering where the Neo4jDataRepository class came from?

[2015-08-02 08:43] phamquocthang opened #104 "Expression of type System.Linq.Expressions.ConstantExpression is not supported"
Not sure why this exception happen
has 3 nodes: Game, GameInfor, User

This query run well on neo4j
    match (g:Game)-[:GAME_HAS_GAMEINFOR]->(n:GameInfor)<-[:USER_HAS_GAMEINFOR]-      (u:User)
    where g.Name = 'GreenDNA'
    return n,u
    order by n.SupportScore
    limit 10

but couldn't make it run on Neo4jClient

    graphClient.Cypher
                        .Match("(g:Game)-[:GAME_HAS_GAM

[2015-08-02 08:49] cskardon commented on #104
I'm on my phone, and not near a computer, but have you tried

Return((n, u) => new SupportRank
{
User = u.As<User>(),
GameInfo = n.As<GameInfo>(),
Position = 0
})

Or whatever your classes are called?

-----Original Message-----
From: "Phạm Quốc Thắng" <notifications@github.com>
Sent: ‎02/‎08/‎2015 09:43
To: "Readify/Neo4jClient" <Neo4jClient@noreply.github.com>
Subject: [Neo4jClient] Expression o

[2015-08-02 08:52] phamquocthang commented on #104
You solution is the same with what I'm using and having trouble with

[2015-08-02 09:09] cskardon commented on #104
Sorry - phone strips out the angle brackets, I can't look at this today but it would be handy to know:

a) What version of N4jClient you're using
b) The full exception text

Ta

[2015-08-02 09:11] phamquocthang commented on #104
I'm using 1.0.0.662

Exception text:

    An exception of type 'System.NotSupportedException' occurred in Neo4jClient.dll but was not handled in user code

    Additional information: Expression of type System.Linq.Expressions.ConstantExpression is not supported.

[2015-08-02 09:12] cskardon commented on #104
Do you not get a stacktrace at all?

[2015-08-02 09:13] cskardon commented on #104
Actually, just looking over the code, what happens if you take off the 'position = 0' bit?

[2015-08-02 09:13] phamquocthang commented on #104
Yeah I have it returned to Postman

""StackTrace": "   at Neo4jClient.Cypher.CypherReturnExpressionBuilder.BuildStatement(Expression sourceExpression, MemberInfo targetMember, CypherCapabilities capabilities, IEnumerable`1 jsonConvertersThatTheDeserializerWillUse, Boolean camelCaseProperties) in c:\\\\TeamCity\\\\buildAgent\\\\work\\\\5bae2aa9bce99f44\\\\Neo4jClient\\\\Cypher\\\\CypherReturnExpres

[2015-08-02 09:15] phamquocthang commented on #104
Wow Great! The exception is gone.
However, I want to set a fixed value when I get from Neo4j to position and then changed its value later.
Any workaround instead of set it to 0?

[2015-08-02 09:16] cskardon commented on #104
Are you going to want something other than zero for the fixed value?

[2015-08-02 09:17] phamquocthang commented on #104
Okay just don't set it in code and automatically it will get 0 value :D. Thanks

[2015-08-02 09:18] cskardon commented on #104
Yup, or if you want to default to something else you can always add that to your parameterless constructor, but obviously that effects everywhere.

[2015-08-02 09:18] #104 closed

[2015-08-12 09:05] neutmute opened #106 "Trap and wrap exceptions with a Neo4jClientException"
The Neo4jClient has an `OnOperationCompleted` event which can be subscribed to in order to get `QueryText` and `TimeTaken` on successful completion of a query.

When a cypher query throws an exception however, this event data isn't available.

I propose:
* Wrapping the `IRawGraphClient.Execute*` internals in a try catch and throwing with a new type `Neo4jClientException`.
* The `InnerException` pr

[2015-08-12 09:35] tathamoddie commented on #106
The original intention was that `OnOperationCompleted` fires after all events. Otherwise, it should be called `OnOperationalSuccessful`. If that's not the current behaviour, I'd call it a bug.

The other ideas sound generally sensible to me.

There's already a `NeoException` type that gets thrown to represent server-side exceptions. The naming there is pretty generic because we don't know too much

[2015-08-12 11:01] neutmute commented on #62
fyi `Unwind` is now supported. commit 4bc92f4b064f470e9c4066238f90b4512753e475 is merged into master

[2015-08-12 11:21] #62 closed

[2015-08-12 11:44] neutmute commented on #106
To double check my reading, here is the call chain:

A consumer calls `CypherFluentQuery<TResult>.Results` say
which at [line 51](https://github.com/Readify/Neo4jClient/blob/master/Neo4jClient/Cypher/CypherFluentQuery%60TResult.cs#L51) calls `GraphClient.ExecuteGetCypherResults`
which at [line 936](https://github.com/Readify/Neo4jClient/blob/master/Neo4jClient/GraphClient.cs#L936) calls `ExecuteGe

[2015-08-12 13:17] tathamoddie commented on #106
That'd be the bug. :) I'm not suggesting it ever worked. Just describing the original design intent and naming.

Concept makes sense. `Neo4j` in a type name in .NET irks me. Considering it's query specific, how about `CypherQueryException`? (I don't imagine you were going to bother with touching the gremlins in the Gremlin code?)

[2015-08-12 21:52] neutmute commented on #106
cool - will do. No wasn't going to bother with Gremlin :)

[2015-08-14 11:02] wcrooy opened #107 "QueryText in OperationCompletedEventArgs doesn't parse the cypher parameters"
The result of the OperationCompletedEventHandler contains OperationCompletedEventArgs  with QueryText. In previous version it contained the actual query. Inclusing parsing of the parameters (.WithParam() )

Eg:
.Match("(u:User { Id: {userId}} )").WithParam("userId", id);

used to be parsed in the logfiles(1.0.0.662) as:

MATCH (u:User {Id: "5" })
but in the current latest version (1.1.0.1) it's pa

[2015-08-14 11:15] cskardon commented on #107
I presume this is a `.Return` query?

[2015-08-14 11:18] wcrooy commented on #107
Yup

[2015-08-14 11:18] cskardon commented on #107
Give me... oooh, 10 mins and I'll get it sorted

[2015-08-14 11:23] #107 closed

[2015-08-14 11:42] cskardon commented on #97
Done with the Tx merge

[2015-08-14 11:42] #97 closed

[2015-08-14 11:42] cskardon commented on #107
Version 1.1.0.3 should have this solved for you!

[2015-08-14 11:44] cskardon commented on #98
Pull request #100 implemented this

[2015-08-14 11:44] #98 closed

[2015-08-14 11:45] neutmute commented on #106
Gentlemen,
Feedback requested:

I thought I would try to solve this issue of capturing query text during exception by honouring @tathamoddie 's intention that the `OnOperationCompleted` event should fire even during a throw event.

In the current source, this block of code is repeated several times unnecessarily in each `Execute*` method ([1](https://github.com/Readify/Neo4jClient/blob/master/Neo4

[2015-08-14 12:02] cskardon commented on #106
Hullo @neutmute - thanks for putting the effort into this!

Soooo.....

a) - I like that pattern, the `ExecutionContext` class is a nice addition and certainly tidy's up that area.
b) - I think you're right - and that it is a redundant check to have the `Assert.Fail` there as well.
c) - Private class should presumably be in the `GraphClient`. Normally I'd wrap in a `#region` and put at the bottom

[2015-08-14 12:05] wcrooy commented on #107
Thanks!

From: Chris Skardon [mailto:notifications@github.com]
Sent: vrijdag 14 augustus 2015 13:43
To: Readify/Neo4jClient <Neo4jClient@noreply.github.com>
Cc: Wouter Crooy <Wouter.Crooy@albumprinter.com>
Subject: Re: [Neo4jClient] QueryText in OperationCompletedEventArgs doesn't parse the cypher parameters (#107)

Version 1.1.0.3 should have this solved for you!

—
Reply to this email directly o

[2015-08-14 13:09] neutmute commented on #106
cool - will amend the (c) by putting at the bottom in a region.

re: partials `graphclient.cs` is a 1400 line beast. I'd be tempted to split it into a few different sections
`graphclient.cypher.cs`, `graphclient.gremlin.cs`, `graphclient.main.cs` say. Maybe even subfolder it - depending how strict you are with file location and namespace.

[2015-08-14 13:27] cskardon commented on #106
I would leave it as a single file for now - it'll be easier to look at the diffs when pulling the request in, which I think will make the process faster.

I think the addition of the partial files especially if nested is nice, but maybe would be better in another subsequent pull request? Whaddya think?!

[2015-08-14 13:29] neutmute commented on #106
yes agree it should be separate PR where the reorg is the only change

On Fri, Aug 14, 2015 at 11:27 PM, Chris Skardon <notifications@github.com>
wrote:

[2015-08-14 13:30] neutmute commented on #106
yes agree it should be separate PR where the reorg is the only change

[2015-08-19 11:45] neutmute commented on #106
[PR 108](https://github.com/Readify/Neo4jClient/pull/108) now raised, closing

[2015-08-19 11:45] #106 closed

[2015-08-22 03:54] neutmute opened #109 "Easier nuget packaging for contributors"
As a contributor, I wanted to dogfood my changes and publish a prerelease package to a personal myget feed to test in my app. It was more work than I would have liked and would like to reduce barrier to entry for this.

I propose
* Creating a `_package` folder (underscore discriminates from `packages` folder)
* Adding some ps1/cmd files to make it easier to compile and publish a private package to

[2015-08-22 07:05] cskardon commented on #109
What trouble did you have with MyGet?

The *only* thing I changed for MyGet was a rename of the Test project to `Neo4jClient.Tests` so that MyGet automatically picked up the test projects and ran the tests in them, there are *no* other changes, so I'm surprised you had to do lots of work. What did you have to do?

The current version is built and published using the MyGet Build Services, so I woul

[2015-08-22 07:37] neutmute commented on #109
ah! This is probably my ignorance with myget then. I previously have had some batch files that call nuget.exe to do the `pack` and `publish` commands. I haven't tried myget build services so assumed you have to do some configuring on their site.

I'll try setting up a build service and if it works I'll do a PR to
* drop the ps1/cmd
* tweak the nuspec to automatically pick references
* document in

[2015-08-22 07:51] neutmute commented on #109
Well that was embarrassingly easy. I just made a package off my fork in no time at all.
Since there is build information in the readme, how about I add a note there about how to generate a private build off a fork (as opposed to the wiki)?

[2015-08-22 08:01] neutmute commented on #109
re: SymbolServer, some [myget docs here](http://docs.myget.org/docs/reference/symbolsource). Since you already push upstream to nuget.org, I *think* this will just work automagically if you have ticked the create symbols package option on the feed.

The trick is that you need to document in the readme where the symbols server url is...but then the docs say `it is recommended to keep the symbols UR

[2015-08-30 00:02] profet23 opened #110 "Using a custom JsonContractResolver + TransactionScope causes failed deserialization"
I tried to create a simple unit test to illustrate the problem. It seems that when I try to utilize CamelCasePropertyNamesContractResolver and a TransactionScope, entities are not deserialized correctly. This leads to properties always being null. Everything seems to work as expected when not using a TransactionScope.

Proof:

[code]

I believe this is the same issue as being discussed here: https

[2015-08-30 01:28] profet23 commented on #110
Pull request submitted: https://github.com/Readify/Neo4jClient/pull/111

[2015-08-30 08:09] cskardon commented on #110
Closed with Pull Request #111

[2015-08-30 08:09] #110 closed

[2015-08-31 10:22] neutmute commented on #109
PR #112 created

[2015-08-31 10:22] #109 closed

[2015-09-01 11:40] cpoyraz opened #113 ""Stack empty" error!"
Hi,
I connect successfully, but when I try to get some data or do any other process, the error below occurs.

A first chance exception of type 'System.InvalidOperationException' occurred in System.dll
Additional information: Stack empty.

OS:Windows 10 / .Net 4.5 / VS 2013

[2015-09-01 11:42] tathamoddie commented on #113
Please at least provide a full call stack.

There is nothing we can do with this level of information.

We don't even know if this occurred in Neo4jClient, let alone where.

--
Tatham Oddie
Tiny phone keyboard = tiny message and tpyos
________________________________
From: cpoyraz<mailto:notifications@github.com>
Sent: ‎1/‎09/‎2015 19:40
To: Readify/Neo4jClient<mailto:Neo4jClient@noreply.github.co

[2015-09-01 12:57] cpoyraz commented on #113
Sorry for that.
Server Version : Neo4j 2.2.5

The code is;
 var query = Session.Cypher.Match("(t:Test)").Return(t => t.As<Neo4jTest>());
 var result = query.Results.ToList();  //Error occurs at this line

Error is exactly that. It does not stop the breakpoint in onexception method of mvc controller..  Visual studio shows error on the dialog box

![error](https://cloud.githubusercontent.com/assets/

[2015-09-01 13:15] cskardon commented on #113
How is 'Session' defined?
Can you try creating the GraphClient in the code you give i.e.:

var client = new GraphClient(new Uri("URL"));
client.Connect();
var query = client.Cypher.Match("(t:Test)").Return(t => t.As<Neo4jTest>);
var result = query.Results.ToList();

And lastly - how is Neo4jTest defined?

Ta!

On 1 September 2015 at 13:57, cpoyraz <notifications@github.com> wrote:

[2015-09-01 13:23] cpoyraz commented on #113
I try it and same error occurs again.

![error](https://cloud.githubusercontent.com/assets/467161/9605335/c03bcc30-50c5-11e5-8a05-231848bf6ff0.png)

[2015-09-01 13:55] tathamoddie commented on #113
When you get the exception popup (your first screenshot), please:

1. Click 'Break'
2. Go to the "Call Stack" pane in VS
3. Copy the whole thing
4. Paste that here

That will give us a whole bucket load more information to help track down what is happening.

Right now, all we knows is that the exception is being thrown within `System.dll`, which is the .NET Framework itself.

[2015-09-01 14:02] tathamoddie commented on #113
@cskardon @arturosevilla Very early hypothesis... This exception occurs when you call `Stack<T>.Pop` and there's nothing there. It's not like you can end up in a scenario where the _call_ stack is empty. The only place we have a reference to `Stack<T>` in the codebase is https://github.com/Readify/Neo4jClient/blob/2d87448b0396a3678e5c1c086de70bc461140e1d/Neo4jClient/Transactions/TransactionManager

[2015-09-01 14:04] tathamoddie commented on #113
@cskardon @arturosevilla Actually, no, I think I've guessed it. @cpoyraz's screenshot is showing a _first_ chance exception, not a _second_ chance exception. There are assumptions in https://github.com/Readify/Neo4jClient/blob/2d87448b0396a3678e5c1c086de70bc461140e1d/Neo4jClient/Transactions/TransactionManager.cs#L93 that we'll just let an `InvalidOperationException` fire if the stack is empty, in

[2015-09-01 14:09] tathamoddie commented on #113
@cpoyraz - I've just noticed that you have first chance exceptions enabled. This is why it works after you keep clicking 'Continue'. I don't think you want to be breaking on first chance exceptions unless that's really what you intend to do, and you're trying to debug something specific.

In VS 2013, you should:

1. Go to the Debug > Exceptions menu (or `Ctrl+Alt+E`)
2. Click 'Reset All', to go ba

[2015-09-01 14:12] cpoyraz commented on #113
Call stack output is below :

 	[External Code]
 	Neo4jClient.dll!Neo4jClient.Transactions.TransactionManager.CurrentInternalTransaction.get() Line 91	C#
 	Neo4jClient.dll!Neo4jClient.Transactions.TransactionManager.InTransaction.get() Line 74	C#
 	Neo4jClient.dll!Neo4jClient.GraphClient.InTransaction.get() Line 821	C#
 	Neo4jClient.dll!Neo4jClient.GraphClient.CheckTransactionEnvironmentWithPolicy

[2015-09-01 14:17] tathamoddie commented on #113
@cpoyraz Great, thanks for the detail. That confirms what I'd guessed. Please follow the steps in [my last comment](https://github.com/Readify/Neo4jClient/issues/113#issuecomment-136734163) and you should be good-to-go.

[2015-09-01 14:17] cpoyraz commented on #113
@tathamoddie Thank you, you are right.. Exception is shown due to debugger settings.. I reset it and it works well.. but Is it normal to give "stack empty" error/warning?

[2015-09-01 14:17] cskardon commented on #113
I'll have a look at doing it cleanly and see what I can do... I'm on the
case!

On 1 September 2015 at 15:04, Tatham Oddie <notifications@github.com> wrote:

[2015-09-01 14:19] tathamoddie commented on #113
@cpoyraz The stack empty error is happening on an internal code path, and then another bit of code is cleaning it up. It's not great, and we'll make it work better internally, but it is totally fine and totally normal. Your debugger was set up in a VERY jumpy way. It was going to be stopping on all kinds of things, which would mostly be false-positives that you don't need to worry about. Your Visu

[2015-09-01 14:22] cpoyraz commented on #113
Thank you again. :)

[2015-09-01 15:38] cskardon commented on #113
You should now be able to download **1.1.0.7** which will contain a code fix to prevent the exceptions being thrown - so mildly more performant :)

Might take a couple of minutes for Nuget to index it, but it's en route!

[2015-09-01 15:38] #113 closed

[2015-09-02 12:28] cskardon opened #115 "Ability to set the planner."
Give the ability to set the `PLANNER` to use, currently `IDP`, `COST` and `RULE`.

    client.Planner("IDP").Match(/*etc*/);

results in:

    PLANNER IDP
    MATCH /*etc*/

[2015-09-02 12:44] #115 closed

[2015-09-17 14:07] cskardon opened #117 "JsonProperty PropertyName attribute is not taken into account when generating Cypher"
When using the `JsonProperty` attribute on a property, the client can deserialize fine, but doesn't generate `Where`, `Return` and `With` clauses correctly.

**Example**
Given the following class:

[code]

If you use the client to generate a `Where` clause:

[code]

You should see `WHERE (n.bar = 'test')` in practice you get `WHERE (n.Bar = 'test')`.

The same applies to `Return` and `With`.

[2015-09-17 14:13] #117 closed

[2015-09-30 01:21] JakeGinnivan opened #119 "Semantic Versioning"
It would be great if the client could follow SemVer.org for it's versioning, especially around breaking changes. https://github.com/Readify/Neo4jClient#breaking-changes-in-11 means that really should have been v2.0.

Not having SemVer across the NuGet landscape causes a heap of issues downstream and is the reason NuGet installs the lowest minor version of dependencies. Neo4jClient also is somethin

[2015-09-30 07:58] cskardon commented on #119
The Tx release probably should have been v2 for lots of reasons aside from just the breaking changes, and I agree that whacking up the major version for breaking changes makes sense, and I will follow that in the future.

What setup are you envisioning being needed?

[2015-09-30 08:09] JakeGinnivan commented on #119
Depends if you want pre-release and how you want to do it. I'm biased but I think https://github.com/GitTools/GitVersion is a good solution to make versioning easier

[2015-09-30 08:32] cskardon commented on #119
I'll have a look at it, but in essence the only thing that really matters is what the major number represents, all other numbers aside from indicating an increase are irrelevant - as far as a consumer is concerned, version 1.0.999 is better to have than 1.0.899 as all changes are backwards compatible.

[2015-10-01 03:23] JakeGinnivan commented on #119
The difference is when new features are added, it is easier for consumers to understand why libraryX which relies of Neo4jClient needs 1.0.950 at a minimum when the consumer has 1.0.900 currently installed. Can also be an indication of what has changed. Minor indicates there are non-breaking additive changes, patch means bug fixes. So as a consumer I always want to update patch but don't always wa

[2015-10-01 08:02] cskardon commented on #119
If you as a consumer decide _not_ to update to 1.1.x from 1.0.x and a patch is released to 1.1 you have no way of telling if you should have that patch or not, as you don't know if it fixes just the 1.1 addition, or a prior bug in 1.0. As a consequence, if you always want all patch updates, you'll have to take 1.1.x. Or is that wrong? Or are you proposing to maintain 1.0.x and 1.1.x releases with

[2015-10-01 08:04] JakeGinnivan commented on #119
For minor I would look at release notes, patch would likely blindly update.

Sent from my Windows Phone
________________________________
From: Chris Skardon<mailto:notifications@github.com>
Sent: ‎1/‎10/‎2015 4:03 PM
To: Readify/Neo4jClient<mailto:Neo4jClient@noreply.github.com>
Cc: Jake Ginnivan<mailto:jake@ginnivan.net>
Subject: Re: [Neo4jClient] Semantic Versioning (#119)

If you as a consumer

[2015-10-01 08:10] cskardon commented on #119
Well - I'll look into it - but aside from sticking breaking changes into a major I don't think the minor/patch thing is something I buy into at the moment. That may change, but I'm just not convinced.

Do you use the client yourself at the moment - is this something you've had a problem with?

[2015-10-01 08:20] JakeGinnivan commented on #119
I don't use the this client myself, but I do maintain a bunch of projects and have followed quite a few discussions where not following SemVer causes issues. The NuGet ecosystem has some issues because it didn't support/promote SemVer from the start. Will close this topic, just wanted to suggest you guys follow SemVer as it does help the greater ecosystem :)

[2015-10-01 08:20] #119 closed

[2015-10-01 08:33] cskardon commented on #119
I didn't mean to put you off! It's just that at the present time I don't see the benefits of the minor/patch versioning. I agree with the major / breaking side of things - and I will do that - which I think is probably the main cause of issues. Thank you for bringing that to the fore!

[2015-10-08 17:07] pedrocristinamyadlab commented on #70
I'm having this problem as well. I have a web application,and I'm using a singleton instance for all requests (should be thread safe), but when i perform simultaneous transactional requests, I get this exception.
I've tried creating several instances per request, but it seems transaction management is local to each client, so transaction nesting doesn't work, as different clients will try to commi

[2015-10-08 22:20] tathamoddie commented on #70
This is basically always a timeout. Do you know that those queries are actually capable of finishing within a reasonable period?

[2015-10-09 09:30] pedrocristinamyadlab commented on #70
Yeah. I basically ran into two scenarios, when I perform several queries using transactions:
- If I use only one instance for all web requests, when I try to perform two transactional operations simultaneously, there's a very high probabilty that one of them will hang and eventually throw a TransactionAborted exception. At first I thought this could be a deadlock at the database level, but if I us

[2015-10-09 11:30] cskardon commented on #70
Hi I'll have a look, but I'm away until Monday, if you have a replicatable example that'd be great!

-----Original Message-----
From: "pedrocristinamyadlab" <notifications@github.com>
Sent: ‎09/‎10/‎2015 10:30
To: "Readify/Neo4jClient" <Neo4jClient@noreply.github.com>
Subject: Re: [Neo4jClient] TaskCanceled exception (#70)

Yeah. I basically ran into two scenarios, when I perform several queries u

[2015-10-12 07:39] cskardon commented on #73
This is in 1.1.0.2+

[2015-10-12 07:39] #73 closed

[2015-10-12 16:22] schaab opened #120 "Support for dnxcore50"
What does your roadmap looked like for adding the ability to target .NET Core?

[2015-10-12 16:36] cskardon commented on #120
Weeeell, roadmap at present doesn't include it - but that's very much a case of not having a fully fledged roadmap.

If you know what to do - or can point me in the right direction - I'll have a look and see what can be done, I'm assuming it's not working for you, if so - it'd be handy to know what isn't working so I can look more in depth.

I'll be frank though - having just run a Portability Rep

[2015-10-12 17:21] schaab commented on #120
I don't know what specifically needs to be done. I am attempting to analyze the feasibility of porting our solution and started with the third party libraries we reference to see if/when they would support it.

[2015-10-12 18:37] cskardon commented on #120
OK, well - I'll have a shufty and see how feasible it is!

[2015-10-12 19:01] schaab commented on #120
Thank you Chris.

[2015-10-12 22:34] neutmute commented on #120
Keep in mind the ASP.NET 5 project is still making regular breaking changes on each beta.
[RTM is due Q1 2016](https://github.com/aspnet/Home/wiki/Roadmap).

My Neo4j project is using ASP.NET 5 since Beta4 but targeting dnx451 only precisely due to lack of support in the nuget ecosystem. I suspect it will take some time for everyone to catch up.

[2015-10-13 17:38] schaab commented on #120
@neutmute I am well aware. The reason I am looking into this is we are trying to utilize docker containers, it only runs on Windows Server 2016 and the support is very flimsy at best. To get around this we were hoping to be able to target the core 50 framework so we could deploy to a linux server as the docker support there is much better.

[2015-10-14 07:28] cskardon commented on #88
Hi,

Cypher doesn't let us do anything with this, when calling the API we get no information back whether anything was deleted or not (you can test yourself using something like Fiddler). You're best bet would be to get it into Neo4j itself and once they've got it, we can add it in.

The only approach I know of would be to query after your delete to see if the node still exists (`MATCH n WHERE n.u

[2015-10-14 07:28] #88 closed

[2015-10-14 07:48] cskardon commented on #89
As long as you have a class with the same properties, this should work fine.

Code wise it'd look something like:

[code]

Where `YourType` looks something like:

[code]

aaaand `AssetIdWithReg` looking like:

[code]

Or whatever type those properties are.

[2015-10-14 07:48] #89 closed

[2015-10-14 07:48] cskardon commented on #89
PS. You can't return anonymous types, it does need to be a concrete C# type!

[2015-10-14 08:02] cskardon commented on #83
From the looks of it, this is down to how you're storing the `GoodLabel` - in my simple test code - I have:

[code]

The `Labels` returned aren't of type `Node<T>`, they are just simply `string`s.

[2015-10-14 08:02] #83 closed

[2015-10-14 15:55] marc-costello opened #121 "Exception advertising"
Any plans to add exception advertising into the codebase?

`transaction.Commit();` for example, what exception could this throw?

It would be ace to get this in intellisense using the `/// <exception cref="{exception type}"></exception>`  format.

[2015-10-14 16:25] cskardon commented on #121
If we were going down the route of exception advertising, we may as well add full intellisense documentation. Which would indeed be ace.

Generally - I have no plans to go through and document the public facing parts of the project - aside from adding it as and when I touch / edit / add features / bugs etc.

I appreciate it seems a bit odd as the Transaction code *does* have comments, but no excep

[2015-10-15 08:53] #59 closed

[2015-10-15 10:28] cskardon commented on #49
As we cope with 2.2.5, I think this can be closed.

[2015-10-15 10:28] #49 closed

[2015-10-15 10:29] #17 closed

[2015-10-19 10:17] dnauck commented on #51
Issue #44 was closed .. so maybe its resolved?

[2015-10-19 10:26] cskardon commented on #51
Possibly, I've been working my way through the tickets, skipping over ones without replication details for now, as they take a bit longer to assess..

-----Original Message-----
From: "Daniel Nauck" <notifications@github.com>
Sent: ‎19/‎10/‎2015 06:17
To: "Readify/Neo4jClient" <Neo4jClient@noreply.github.com>
Subject: Re: [Neo4jClient] Deadlock occurs when calling ExecuteWithoutResultsin ASP.NET (

[2015-10-19 10:29] dnauck opened #122 "Return result as json string (no deserialization)"
During a community conference last weekend we discussed about Neo4j and Neo4jClient.

We came to the conclusion that it would be nice to have:

* return query result as plain json (no deserialization, etc) to send the result directly back to the client in a web service scenario. Also add the possibility of setting up the representation of the result (e.g. graph return type). In most scenarios i do

[2015-10-19 10:35] cskardon commented on #122
Hi,

When you say serialize as Json, do you mean the data, or the whole node as well?

And you can send just text if you really want to, I'm on my phone so don't have a great way to type it, and it's from memory, so possibly (probably) wrong! I'll elaborate later, but something like:

((IRawGraphClient) client).ExecuteCypher(new CypherQuery(/**/));

With a return equivalent.

-----Original Message

[2015-10-19 10:40] dnauck commented on #51
Here're some great information from @danielmarbach on async problems and why you (as library author) should use ```.ConfigureAwait(false)``` every time:

https://github.com/danielmarbach/async-dolls/tree/master/async-dolls/1-Async#configureawaitfalse-is-your-friend

(There're also some other very useful information and examples)

[2015-10-19 10:44] dnauck commented on #122
Hi,

i mean to return the raw result of my query (i want to return the "graph" (nor "row") return type of my query to my client in its original json presentation). So using Neo4jClient as simple REST Client in this case.

[2015-10-19 10:50] cskardon commented on #122
So, just to make sure I get what you're wanting.

You are wanting all the node identifiers etc, not *just* the data you've put up there? If that is the case, I'll have a look and see what you can get that way, it's a little tricky not being at a computer :)

-----Original Message-----
From: "Daniel Nauck" <notifications@github.com>
Sent: ‎19/‎10/‎2015 06:44
To: "Readify/Neo4jClient" <Neo4jClient@n

[2015-10-19 11:02] tathamoddie commented on #122
In that case, what value does Neo4jClient even add?

Why not just do a REST call?

--
Tatham Oddie
Tiny phone keyboard = tiny message and tpyos
________________________________
From: Daniel Nauck<mailto:notifications@github.com>
Sent: ‎19/‎10/‎2015 21:44
To: Readify/Neo4jClient<mailto:Neo4jClient@noreply.github.com>
Subject: Re: [Neo4jClient] Return result as json string (no deserialization) (#122

[2015-10-19 11:05] cskardon commented on #122
There is that, but you might want to use the fluent interface for some things and then do some raw calls as well without wanting another client and connection..?

-----Original Message-----
From: "Tatham Oddie" <notifications@github.com>
Sent: ‎19/‎10/‎2015 07:02
To: "Readify/Neo4jClient" <Neo4jClient@noreply.github.com>
Cc: "Chris Skardon" <cskardon@xclave.co.uk>
Subject: Re: [Neo4jClient] Return

[2015-10-19 13:15] dnauck commented on #122
Yes, the Neo4jClient does some stuff that i otherwise need to implement myself:

* convert cypher query including params to a REST call
* connection and error handling
* etc.

Sure, i can easily use the HttpClient myself and perform REST calls but its also some extra work if there is already an implementation ;)

[2015-10-26 16:18] cskardon opened #124 "Handle `.StartsWith` in the `Where` clause (Neo4j 2.3.0)"
So a user can type:

`client.Cypher.Match("n").Where((Foo n) => n.Property.StartsWith("Bar"));`

Giving:

    MATCH n
    WHERE n.Property STARTS WITH 'Bar'

[2015-10-26 17:15] cskardon commented on #124
Closed with pull request #125

[2015-10-26 17:15] #124 closed

[2015-10-28 11:05] cskardon opened #126 "Support Bolt for Neo4j 3.0"
Right, so it's time to consider the Bolt issue - my general feelings on this is that ideally you shouldn't have to change your codebase - i.e. if you use `IGraphClient` then that should still apply now.

Ideally I'm thinking something like:

[code]

i.e. only change the `new GraphClient` to `new BoltGraphClient`.

As to how realistic this is - that's a _'need to investigate'_ type issue.

Other qu

[2015-10-29 00:28] neutmute commented on #126
A quick google didn't turn up much. Forgive my ignorance but what is bolt?

[2015-10-29 00:31] mavadat commented on #126
My google is not broken :) Here:
http://alpha.neohq.net/docs/server-manual/bolt.html

On Thu, Oct 29, 2015 at 11:28 AM, neutmute <notifications@github.com> wrote:

--
Cheers,
Jamal

[2015-10-29 15:10] cskardon commented on #126
Sorry - I totally should have put that URL in the original message... !!

[2015-10-31 23:10] saqib-saleem opened #127 "Transaction causes fluent merge statement to throw error"
Merge statement when fluently put inside transaction causes an exception. The same code when translated in Cypher Query Language works fine.

Please follow the conversation on StackOverflow: http://stackoverflow.com/questions/33447424/neo4jclient-transaction-error

[2015-10-31 23:11] saqib-saleem commented on #127
Details:

When I try to update an existing Node in Neo4JClient without using transaction, which has a Unique Constraint on Id and Name property, I receive this Exception:

CypherExecutionException: Node 6 already exists with label User and property "Name"=[Mike]
But when I try to update a Node in transaction, I receive this Exception:

Received an unexpected HTTP status when executing the request.

[2015-11-01 09:24] cskardon commented on #127
I'll look into it and get it fixed asap

-----Original Message-----
From: "Saqib Saleem" <notifications@github.com>
Sent: ‎31/‎10/‎2015 23:11
To: "Readify/Neo4jClient" <Neo4jClient@noreply.github.com>
Subject: Re: [Neo4jClient] Transaction causes fluent merge statement to throwerror (#127)

Details:
When I try to update an existing Node in Neo4JClient without using transaction, which has a Unique

[2015-11-01 10:26] cskardon commented on #127
Right, I've looked into this, and I cannot replicate the error. If I use `Merge` within a `Transaction` I get the proper error.

My example code that if you run in a Console app / LinqPad will show the correct reponse:

	var gc = new GraphClient(new Uri("http://localhost.:7474/db/data"));
	gc.Connect();

        //Create the constraint
	gc.Cypher.CreateUniqueConstraint("m:User", "m.Name").ExecuteW

[2015-11-01 13:09] saqib-saleem commented on #127
Trying to attach Visual Studio Project that shows the error.

From:  Chris Skardon <notifications@github.com>
Reply-To:  Readify/Neo4jClient <reply@reply.github.com>
Date:  Sunday, November 1, 2015 at 3:26 PM
To:  Readify/Neo4jClient <Neo4jClient@noreply.github.com>
Cc:  "saqibsaleem@gmail.com" <saqibsaleem@gmail.com>
Subject:  Re: [Neo4jClient] Transaction causes fluent merge statement to throw e

[2015-11-01 13:21] saqib-saleem commented on #127
Hi Chris,
Here is a Console Program that is generating errors at my side. It contains the POCO as well. Can you please try it at your end.

The massive concatenated string in Edit 2 was to show that plain Cypher is working inside transaction.

[code]

To me it doesn't look like a timeout error.

Thanks

[2015-11-01 13:44] saqib-saleem commented on #127
And I have updated your code and now it shows the same error as well. Again run it twice please.

[code]

[2015-11-01 14:47] cskardon commented on #127
But you don't set the ID?

in the example you give:

    var user = new User { Name = "Mike" };

the Id is never set - so when you use `id = user.Id` in the `WithParams` property it will be `null`.

Please set the Id in the User and try again.

[2015-11-01 14:58] saqib-saleem commented on #127
I did try with Ids in both the examples above. And that is actually the point, in both cases, Neo4jClient is not throwing the actual error. So in first case (in my example) it should throw:
```Node (n) already exists with label Country and property "Name"=[xxx]```

And in your example it should throw:
```Cannot merge node using null property value for Id```

In both cases it is throwing this excep

[2015-11-01 15:13] cskardon commented on #127
I'm sorry - I execute your code and I get the correct error.

Copying and pasting your code into console, or indeed LinqPad - I get an `InvalidSemantics` error, saying `Cannot merge node using null property value for Id`, which is - as you rightly say - what I'd expect.

Even taking away my try/catch so only yours is used - I still get the `InvalidSemantics` error.

I don't know how I would begin

[2015-11-01 15:19] saqib-saleem commented on #127
Strange! Here are the versions:
Neo4j: 2.3.0
Neo4jClient: 1.1.0.11 (Downloaded from NuGet)
NewtonsoftJson: 6.0.3 (Downloaded from NuGet)

[2015-11-01 15:27] saqib-saleem commented on #127
There is one more thing when you run my code, it should not throw ```Cannot merge node using null property value for Id```. But it should throw: ```Node (n) already exists with label Country and property "Name"=[xxx].``` When you run it second time, it should fail because of duplicate Name. What do you say?

[2015-11-01 21:44] cskardon commented on #127
Got it, it's the version 2.3.0 of the DB - In my view, it's not the fluent code that is wrong as against a 2.2.x db it's fine, but possibly something to do with a change in the way Neo4j deals with transactions between the two versions.

We'll get to the bottom of it! Now it's replicating I can try to get it fixed...

[2015-11-01 21:47] saqib-saleem commented on #127
Thanks.

[2015-11-02 09:59] cskardon commented on #127
To keep you up to date - I've raised the issue with `Neo4j` as it's a behaviour change that is unexpected, I'll wait for their response before getting into a code fix :)

[2015-11-02 14:48] saqib-saleem commented on #127
Thanks. Will wait for the update.

[2015-11-03 06:59] cskardon commented on #127
OK, so looks like the change is down to the fact that `Neo4j` now automatically rolls back on a `ClientError` (Constraint violation etc) - so when `Neo4jClient` *also* automatically rolls back a transaction on failure, the transaction no longer exists, and a 404 is raised.

This was changed in 2.2.6, so I'm going to look into the best approach to get this resolved, I imagine by the end of the day.

[2015-11-03 11:53] cskardon commented on #127
I'll close this properly when I've published the Nuget package - which will be 1.1.0.12, I'll let you know!

[2015-11-03 12:17] cskardon commented on #127
Right 1.1.0.12 is in Nuget now, and resolves this!

[2015-11-03 12:17] #127 closed

[2015-11-05 00:24] RaphHaddad commented on #126
"This is a substantial change, a major version increment, so whilst we don't want to go crazy - some breaking changes are (I think) acceptable."

To be honest, I would be more aggressive and say that the next version 'should' have breaking changes.

a lot has been learnt from developing the client but I think some serialisation code can be done nicer. I've had to make small changes for repeating c

[2015-11-05 06:23] neutmute commented on #126
Having made a few minor PR's I've witnessed a substantial amount of code in this client. I'm with [Joel](http://www.joelonsoftware.com/articles/fog0000000069.html) on this one and think it would be a mistake to try throw it all out and attempt to rewrite. You will just make some other architectural impurity and inevitably wish to rewrite it again X years down the track!

If serialisation is the on

[2015-11-05 12:02] cskardon commented on #126
@RaphHaddad - There is going to be an official .NET driver from Neo, which would in effect be a new .sln version - as far as I'm aware, it'll only target the *bolt* aspect of the database, I'm not sure if they intend to have it work with the REST Cypher for 2.x (or even 1.x!!) dbs.

@neutmute - By deprecating into older packages, something like 1.1x has gremlin, 2.x doesn't?

So, if you break the

[2015-11-05 20:41] neutmute commented on #126
I see now - that makes sense. thanks for the clarification

[2015-11-12 11:25] corneliusk-scribestar opened #129 "Can not `detach delete` nodes along with their relationships"
Hello!

I was searching for an option to do a `detach delete n` of nodes, as per [node4j documentation](http://neo4j.com/docs/stable/query-delete.html#delete-delete-a-node-with-all-its-relationships). Are there any plans to implement this?

(Google is surprisingly silent about `detach delete` from c#.)

Thanks!

[2015-11-12 12:12] cskardon commented on #129
A plan was made literally 5 minutes ago --- shouldn't be too long for this....

[2015-11-12 13:58] corneliusk-scribestar commented on #129
That is awespme timing. Thank you all in advance! :)
On 12 Nov 2015 12:12, "Chris Skardon" <notifications@github.com> wrote:

[2015-11-12 14:07] #129 closed

[2015-11-12 14:16] cskardon commented on #129
By plan being made, it was made when you registered the issue... :)

This is published into Nuget (1.1.0.13) but hasn't been indexed yet, usually nuget takes 5-10 minutes, so give it a bit of time and you should be able to `DETACH DELETE` by:

    client.Match("n")
        .DetachDelete("n")
        .ExecuteNonQuery();

[2015-11-12 14:16] cskardon commented on #129
Ah, there you go - it's indexed... delete away

[2015-11-12 14:40] corneliusk-scribestar commented on #129
Awesome. Now that's what I call quick turnaround time! Thank you muchly. :)
On 12 Nov 2015 14:16, "Chris Skardon" <notifications@github.com> wrote:

[2015-11-20 16:38] cskardon opened #131 "Add X-Stream header"
When streaming is true.

[2015-11-20 16:44] cskardon commented on #131
At present - `stream=true` is passed, but the documentation states an `X-Stream` header with `true` needs to be sent.

[2015-12-15 20:46] tugberkugurlu commented on #94
This would be cool to have. I am not sure whether this makes sense as a separate package though.

[2015-12-16 08:13] cskardon commented on #94
I agree - as the spatial plugin is a plugin - I would think an extension package would work nicely, something like: Neo4jClient.Spatial

I don't really want to put it into the main project as it might lead to confusion with people attempting to use it, but not have the plugin added. With a separate package, the choice is explicit and informed.

So to answer your message from *aaaages* ago @beast -

[2015-12-16 08:13] #94 closed

[2015-12-23 13:48] zeljkobajsanski opened #135 "Support for .NET Core"
Hi,
is there any support for .net core? We are migrating existing solution to ASP.NET 5? Our requirement is to host application on other OS than Windows

[2015-12-23 16:59] cskardon commented on #135
Hi,
At the moment, no, time-wise I'm a little constrained to do it, but if you want to go for a Pull request with it in, it would be *greatly* received!! :)

[2015-12-25 15:31] KupVadim opened #136 "Using JsonConverters for common types"
Hello.

I try to override serialization and deserialization for common types, such as `DateTime` and `Guid` with using standard newtonsoft `JsonConverters`. But converters works fine when object serialize to Json, when we deserialize object, then converters for common types not used, used Neo4J deserialization. Example: https://github.com/Readify/Neo4jClient/commit/7bd953174d77ab652f19b39e5e358837

[2015-12-25 17:21] cskardon commented on #136
Hullo,

Do you have an example of this happening with some sample code and what you expect to happen. An example of the converter you're using etc.

Or feel free to have a look at a pull request, that'd be awesomeballs!

Ta,

Chris

[2015-12-28 07:50] KupVadim commented on #136
Please see https://github.com/Readify/Neo4jClient/pull/137 for sample. Fix for problem NOT implemented.

[2015-12-28 12:09] cskardon commented on #136
Fixed and published in `1.1.0.16`

[2015-12-28 12:09] #136 closed

[2015-12-28 12:31] KupVadim commented on #136
Thanks :)

[2015-12-28 12:33] KupVadim commented on #136
@cskardon Can you provide to me information about publishing that fix? When NuGet package will be updated?

[2015-12-28 12:35] KupVadim commented on #136
Ok, I see that already published. Thank you. :)

[2016-01-02 12:34] UriKatsir opened #139 "Case insensitive queries"
Hello,
How can i execute Case insensitive queries?
for example, i would like to match node named "foo" regardless if it is stored as "Foo" or "FOO".

thank you

Uri

[2016-01-02 16:05] cskardon commented on #139
Hi Uri,

This question on StackOverflow should help you...
http://stackoverflow.com/questions/31873893/case-insensitive-search-with-neo4jclient

[2016-01-02 16:05] #139 closed

[2016-01-02 22:02] UriKatsir commented on #139
thanks, helped and resolved my issue

Uri

[2016-01-04 11:49] tugberkugurlu commented on #135
Is anyone looking into this? I would be willing to give this a start but wanted to check first not to duplicate the same work.

[2016-01-04 11:53] cskardon commented on #135
Hey @tugberkugurlu, I'm not actively looking into this at the moment, feel free to go for it, and if there is anything I can do to help let me know!

[2016-01-04 11:56] tugberkugurlu commented on #135
@cskardon great, I will give it a go and open a PR as soon as I have something viable.

[2016-01-04 11:56] cskardon commented on #135
PS issue #120 is the same... So I can close this one and leave the other, or vice versus, whichever you'd like!

[2016-01-04 11:56] cskardon commented on #135
@tugberkugurlu That is **Amazeballs** thank you!

[2016-01-04 12:02] tugberkugurlu commented on #135
This one seems better (judging from the title :smile:) because what needs to be done here is to support `dotnet5.4` and `net45` (if they will not change this again, sigh!), not `dnxcore50`. So, it will make it possible to reference this from a project which targets `dotent5.4`, `dnxcore50`, `dnx451`, `net45` or above.

[2016-01-04 12:02] cskardon commented on #135
10-4  - I'll close the other one pointing to this...

[2016-01-04 12:03] cskardon commented on #120
I'm closing this issue in lieu of #135 targeting .net core...

[2016-01-04 12:03] #120 closed

[2016-01-04 12:55] JakeGinnivan commented on #135
I recently added support for .net core to Shouldly, I suggest you don't use the DNX tooling to actually do this, unless you don't want to run tests against .net 4.5 and only run your tests against dnx using the dnx runner.

Instead create a Portable class library (profile 259) and use a Shared Project to share the code between the full .net projects and the pcl library. This way you can create .ne

[2016-01-04 13:03] tugberkugurlu commented on #135
I started here: https://github.com/tugberkugurlu/Neo4jClient/tree/dotnet-core Will open a PR when it reaches a stable{ish} state to discuss/review/comment/etc.

[2016-01-07 09:38] wcrooy opened #141 "Provide the possibility to add custom headers to a request per cypher request"
I would be of great use to have the possibility to add custom headers runtime to a cypher request.
The advantage is that it gives the possiblity to provide headers to do custom routing with eg. haproxy(or any other loadbalancer). So haproxy can route certain requests based on provided header values.

[2016-01-07 09:43] cskardon commented on #141
Is this something you want to do for *every* call to the server?

[2016-01-07 09:53] wcrooy commented on #141
yes. At least the ones containing cypher. And it's belonging transaction calls.

[2016-01-07 09:55] cskardon commented on #141
Would passing in a custom `IHttpClient` (see the answer on http://stackoverflow.com/questions/31519633/neo4jclient-transactions-auth-error-on-transaction-completion as an example) - as a temporary workaround work for you right now?

[2016-01-07 10:47] wcrooy commented on #141
I use that feature if I want to debug the rest calls to Neo4j.

If you use the GraphClient as a singleton that's hard to do. The value in the header for the loadbalancer can be different per request/call. The IHTTPClient approach seems more appropriate for 'system-wide' defaults. Like username/password.

[2016-01-07 10:51] cskardon commented on #141
Sure, I was merely asking as a workaround.

How do you see this working? Do you have any psuedo-code as an example?

[2016-01-07 13:25] wcrooy commented on #141
No probz. It's allready handy that we're able to overwrite at a certain point the HttpClient object.

I would assume something like this:

[code]

[2016-01-07 14:18] cskardon commented on #141
OK, looks like it could be doable - there's a major pull in progress at the moment, so I don't see it until after that I'm afraid - time constraints and other things like that...

[2016-01-08 16:10] cskardon opened #142 "If using `ITransactionalGraphClient` it would be good to use the 'Tx' endpoint always"
So if you do something like:

    ITransactionalGraphClient txGc = new GraphClient(/* blah */);
    txGc.Cypher.Match("n").Return(n => n.Count()).Results.Single();

it should begin/commit a tx in one request (as [in docs](http://neo4j.com/docs/stable/rest-api-transactional.html#rest-api-begin-and-commit-a-transaction-in-one-request))

Presently it calls the default cypher endpoint.

[2016-01-15 07:12] zhaizhonghao opened #144 "How can I import node whose properties are 'Hashtable'?"
I want to import some data using Neo4jClient,but the node's properties is not sure,
for example,person will have properties:name,age,etc.
phone will have properties:phoneNumber,color,ect.
Even different persons have different properties.
How can I set the node's properties dynamically in c#.

[2016-01-15 08:03] cskardon commented on #144
Hi, erm, I'm not really sure what you're asking, are you trying to serialize an actual dynamic object?

Do you have any code you've tried? I'd recommend asking on stackoverflow as you'll get a much bigger collection of people reading it.

But do include code as it's much more useful to potential solutions

-----Original Message-----
From: "zhaizhonghao" <notifications@github.com>
Sent: ‎15/‎01/‎20

[2016-01-15 08:13] zhaizhonghao commented on #144
class Data
    {
        public Data()
        {
            properties = new Hashtable();
        }
        private string type;

        public string Type
        {
            get { return type; }
            set { type = value; }
        }

        private Hashtable properties;

        public Hashtable Properties
        {
            get { return properties; }
            set { properties =

[2016-01-15 09:08] zhaizhonghao commented on #144
I want to change Label and and add a unknow property dynamically,I try to solve it like following

            client.Cypher
                     .Create("(person:Type)")
                     .WithParam("Type", "Vegetable")
                     .Set("person.property= \"zhai\"")
                     .WithParam("property", "name")
                     .ExecuteWithoutResults();

but It didn't work.

[2016-01-17 15:20] cskardon commented on #144
This is on StackOverflow at: http://stackoverflow.com/questions/34807995/how-to-add-properties-of-node-dynamically-using-neo4jclient/34839991#34839991 so I'm closing this issue.

[2016-01-17 15:20] #144 closed

[2016-01-17 15:24] cskardon commented on #142
Swapping out the use of the `Cypher` endpoint wholesale would constitute a major change as it would break all the users of `Node<T>` of which I suspect there are many.

Perhaps a different overload to use the TX endpoint???

[2016-01-19 11:37] KupVadim opened #145 "Strange cypher query for order by descending"
Hello.

When I create order by descending, then DESC clause generates only for last field. Sample:
[code]
But for that query, DESC affected only last field, not all fields. Is it bug?

[2016-01-19 11:51] KupVadim opened #146 "Select not all fields from entity"
Hello.

How I can generate query for selecting not all fields from my entity? Sample:
[code]
Thanks. :)

[2016-01-19 12:04] KupVadim commented on #145
BTW: I check that query. And results for 'ORDER BY n.age, n.name DESC' and 'ORDER BY n.age DESC, n.name DESC' are different. Second query 'ORDER BY n.age DESC, n.name DESC' works correctly. But OrderByDescending function generates first query.

[2016-01-19 12:11] cskardon commented on #145
Hullo - What does your C# code look like?

[2016-01-19 12:14] cskardon commented on #146
Something like:

[code]

There are other ways, using things like anonymous types, but that does what I *think* you're asking...

[2016-01-19 12:14] #146 closed

[2016-01-19 12:16] KupVadim commented on #146
So, will be generates query such us: RETURN e.Id, e.Name
Am I right?

[2016-01-19 12:17] KupVadim commented on #145
So, I can share test from neo test:
[code]

[2016-01-19 12:23] cskardon commented on #146
Yes

[2016-01-19 12:28] cskardon commented on #145
So you need to do something more like:

[code]

[2016-01-19 13:17] KupVadim commented on #145
With that code I catch one more strange generation of cypher query.
Sample of test:
[code]
Cypher query generates on runtime, therefore two ORDER BY statement will be generates. And that problem, because we can't use asc and desc orders in one query.

May be should implement some query container which will store expressions and generate query only then result needed, not on runtime? That solution

[2016-01-19 13:36] cskardon commented on #145
Sorry - what are you trying to actually generate?

[2016-01-19 13:45] KupVadim commented on #145
I think, that that fluent api:
[code]
should generate that query:
[code]

But now will generates that query:
[code]

[2016-01-19 13:51] KupVadim commented on #145
Test:
[code]

[2016-01-19 14:19] cskardon commented on #145
OK gotcha, well, I think (_think_) it should be a relatively easy fix - do you fancy doing a pull request for it?

I can try to help if you need any help?

[2016-01-19 15:54] KupVadim commented on #145
Ok, we are try to fix that. If will be some problems, I will contact with you in that issue. Thanks. :)

[2016-01-19 15:57] cskardon commented on #145
No! Thank you!!

On 19 January 2016 at 15:54, KupVadim <notifications@github.com> wrote:

[2016-01-20 07:36] KupVadim commented on #145
Fix for that problem:
[code]
is simple.

But for that problem:
[code]
We have 3 solutions, which we can implement:
1. Solution with changing interface after executing OrderBy to the IQueryOrdered interfaces, such as in LINQ, which contains ThenBy and ThenByDescending. But big refactoring needed for implement that.
2. Using flag in OrderBy and OrderByDescending:
[code]
But that solution not pretty.

[2016-01-20 08:28] cskardon commented on #145
The best solution is the first one, as it most tightly matches the LINQ structure that .net devs are used to.
From a refactoring point of view, I would probably do a pull request for the `OrderByDescending('first', 'second')` issue as that solves your problem, and raise a new issue for the other, and if you want to do the pull request for that, do it then.

Splitting the pull requests makes it a b

[2016-01-20 10:27] KupVadim commented on #145
Yes, you can create new issue.
Yes, I think that 1 solution is good. But big refactoring needed. I prepare some pull request, after that we can discuss about implementation. May be you will have some ideas.

[2016-01-20 12:01] KupVadim commented on #145
So, I prepare simple fix for problem with ```OrderByDescending('first', 'second')```. You can closed that issue and create new for big problem. :)

[2016-01-20 12:45] KupVadim commented on #145
I'm sorry, but may be prepare temp solution from 3 case? After that we can start implement first solution. We needed functional with both clauses, ASC and DESC, right now. That you think about that? Can we implement temp solution from 3 case and publish them to NuGet?

[2016-01-20 13:47] cskardon commented on #145
I don't want to publish a version with a temporary fix, I actually think the fix is probably not as bad as you think, in fact it should be relatively simple.

I would add another interface like:

[code]

and make `OrderBy` and `OrderByDescending` return that, and make the `CypherFluentQuery` implement `IOrdereredCypherFluentQuery`

So you'll only see when using `OrderBy` etc, but no massive refact

[2016-01-20 14:10] KupVadim commented on #145
Yes, you are right. That solution will work correctly.

I don't know, why I thinking that new interface IOrderedCypherFluentQuery must not contains methods OrderBy and OrderByDescending. It's my mistake of course.

So, I impelemet that fix right now and prepare pull request.

[2016-01-20 14:24] cskardon commented on #145
Ace!

[2016-01-21 09:38] KupVadim commented on #145
So, you can close issue. I'm waiting NuGet package. Thank you for help with that problem. :)

[2016-01-21 09:41] #145 closed

[2016-01-27 01:28] zhaizhonghao opened #153 "How to translate following cypher to c#?"
match (a:Student) with keys(a) as k unwind k as x return distinct x

[2016-01-27 08:09] cskardon commented on #153
What have you tried?

[2016-01-27 08:19] zhaizhonghao commented on #153
String qry = "";
            qry = "match (a:Student) with keys(a) as k unwind k as x return distinct x";
            var results = ((IRawGraphClient)client).ExecuteGetCypherResults<Node<string>>(new CypherQuery(qry, null, Neo4jClient.Cypher.CypherResultMode.Projection));

[2016-01-27 08:25] cskardon commented on #153
The fluent `.Cypher` bit of the client is very tied to the way Cypher itself works, so you should be able to discover most things.

	var query = gc.Cypher
		.Match("(a:Student)")
		.With("keys(a) as k")
		.Unwind("k", "x")
		.ReturnDistinct(x => x.As<Student>());

If your type *isn't* `Student` then you can return as `Node<string>` and then convert to `dynamic` like here: http://stackoverflow.com/

[2016-01-27 09:00] zhaizhonghao commented on #153
It worked!But how can I get its result?
I tried this:

var results = query.Results.ToList();

but it bringed error.

[2016-01-27 09:55] cskardon commented on #153
What is the error?

[2016-01-27 10:01] cskardon commented on #153
You will need to set the `Return` to return just strings so:

    var query = client.Cypher
        	.Match("(a:Student)")
        	.With("keys(a) as k")
        	.Unwind("k", "x")
        	.ReturnDistinct(x => x.As<string>());

[2016-01-27 10:01] #153 closed

[2016-01-27 10:35] zhaizhonghao commented on #153
THx,it worked!

[2016-01-29 16:10] #91 closed

[2016-02-02 13:32] drgraduss opened #156 ""The requested transaction is being used concurrently by another request" exception"
As suggested I'm using one singleton client.

When running multiple concurrent requests with transaction I'm getting ```The requested transaction is being used concurrently by another request``` exception.

Basically I have a method which called concurrently.

      public async Task ConcurrentTransactionRequest()
      {
           using (var scope = new TransactionScope(TransactionScopeAsyncFlow

[2016-02-02 13:51] cskardon commented on #156
Have you tried the overload for `new TransactionScope()` which takes `TransactionScopeOption` and `TransactionScopeAsyncFlowOption`??

[2016-02-02 14:50] drgraduss commented on #156
Yes, I did. Below is my test which runs two concurrent transactions.

		[Test]
		public async Task ConcurrentRequestsWithinTransaction()
		{
			const int numberOfUsers = 10;

			var users = new List<User>();

			for (var i = 0; i < numberOfUsers; i++)
			{
				users.Add(new User
				{
					UserId = i
				});
			}

			var createQuery = client.Cypher
				.ForEach("(user IN {users} | CREATE (u:User)

[2016-02-03 14:25] drgraduss commented on #156
@cskardon any suggestions?

[2016-02-03 15:05] cskardon commented on #156
Not as yet, I've not had time to add in appropriate unit tests to establish what the cause would be - sorry :(

[2016-02-05 11:25] drgraduss commented on #156
A few notes.

Sometimes instead of ```The requested transaction is being used concurrently by another request``` exception, ```Unrecognized transaction id. Transaction may have timed out and been rolled back.``` thrown.

Plus if a number of concurrent requests is big enough the whole test will hang and eventually will abort with timeout.

Hope this helps. This issue looks pretty big to me as trans

[2016-02-05 12:16] cskardon commented on #156
Hi, I've been trying to replicate this in the codebase, and I can't get either of those errors to occur, I'm having to whip out the ol'  console apps to see if there's anything off. A couple of questions;

1. What version of Neo4j are you using
2. How big is User? I presume pretty average size...?

[2016-02-05 12:21] cskardon commented on #156
Riiight, got it happening - and the error is from the DB, not the client, ok, that gives me more to work on....

[2016-02-05 12:21] drgraduss commented on #156
Hi,

Neo4j is 2.3.1 and client version is 1.1.0.26. I'm running my test against clean database creating 10 nodes each contain id attribute only.

Cheers for looking into that.

[2016-02-05 12:28] cskardon commented on #156
Could you use the ITransactionGraphClient instead?

    ITransactionalGraphClient txClient = (ITransactionalGraphClient) Client;

    using (var tx = txClient.BeginTransaction(Neo4jClient.Transactions.TransactionScopeOption.RequiresNew))
    {
        var query = Client.Cypher
            .Match("(u:User)")
            .With("COUNT(*) AS C")
            .Return<int>("C");

        result = (await

[2016-02-05 12:40] drgraduss commented on #156
Transactional client works for small number of requests. But for 50 concurrent requests it fails with

[code]

Or with transaction was closed or rolled back exception.

[2016-02-05 12:41] cskardon commented on #156
What number are you looking to work with?

[2016-02-05 12:52] drgraduss commented on #156
I'm using Neo4j as part of public Web API. So it could be any number of concurrent requests.

Is this issue related to one single GraphClient?

[2016-02-05 13:31] cskardon commented on #156
TBH I'm not sure, possibly.... seems like the server isn't happy with the numbers.. I'm looking to see if it's a delayed response or actually missing data

[2016-02-08 15:57] drgraduss commented on #156
@cskardon any news? I'm thinking about creating a client for each neo request. I know that you will make a request to obtain neo server configuration each time, but that way I get working transaction scenario.

It looks like there is problem with ```TransactionManager``` and ```TransactionPromotableSinglePhaseNotification``` when you have concurrent threads accessing single ```GraphClient``` insta

[2016-02-08 19:28] cskardon commented on #156
Hi, no, at the moment no progress, it's odd as it's not consistent, I can get it to run 50 concurrent tx's no problems sometimes, then the next time it doesn't work.

The response from the server isn't consistent from my POV, and it's taking a while to look into I'm afraid, sorry for the lack of updates :(

[2016-02-09 22:08] amcdnl commented on #135
Any ETA on this?

[2016-02-09 22:08] brantw commented on #135
+1

[2016-02-11 17:50] drgraduss opened #157 "GraphClient.Connect() deadlock"
Hi,

I'm using ```GraphClient``` as part of topshelf win service. During deployment I'm experiencing deadlock when ```GraphClient.Connect()``` method called. Below is stack trace from dump.

[code]

After looking library code it looks there should be ```ConfigureAwait(false)``` setup on task returned in case ```taskFactory``` is null.

[code]

[2016-02-12 08:28] cskardon commented on #157
Hallo,

Do you feel up to doing a pull request?
It'd be awesome to get that in place

[2016-02-12 11:38] drgraduss commented on #157
Hi @cskardon

Here's pull request https://github.com/Readify/Neo4jClient/pull/158. Have a look as ```ExecuteAsync``` used across whole library.

[2016-02-12 12:00] cskardon commented on #157
Awesome!! thank you, I'll get looking into it asap!

[2016-02-15 11:02] #157 closed

[2016-02-16 11:02] dmikov opened #160 "Return as Dictionary<string, object> returns no values"
Hi, I don''t know if it's a bug or just undocumented feature, but if I run cypher query and use
`.Return(node => node.As<Dictionary<string,string>>())` it returns key and values albeit with loss of datatype, but if I use `.Return(node => node.As<Dictionary<string,object>>())` it returns keys, but no values I can see. The debugger shows {object}, but I cannot cast it to anything - the field that I

[2016-02-16 14:38] drgraduss commented on #156
Any updates or ETA when this issue might be resolved?

[2016-02-16 16:55] cskardon commented on #160
Hello!

I think in the latter case the `object` is literally that - an `object`, the JSON parser has been instructed to cast the values it gets back as an `object`. It doesn't know better. The values are there, they are just actual objects.

I do agree - this isn't ideal, and I'm not sure the best way to approach it.

[2016-02-16 17:46] dmikov commented on #160
I don't think it's true at all. Following snippet preserves types using Newtonsoft.Json just fine
[code]

[2016-02-16 19:21] cskardon commented on #160
You're quite right, but that's not how the client does it's deserialization - if it were then of course that would be very odd.

As it is, it could well be seen as a bug, on a similar vein to the lack of `dynamic` support - in effect the client activates a new instance of `type` (in this case `object`) as a last resort as it's not expecting you to ask for `object` as a type.

If you look at the `C

[2016-02-16 20:06] dmikov commented on #160
Sorry, I assumed since you can use Json annotations, that it was regular Newtonsoft.Json serializer.

[2016-02-16 20:11] dmikov opened #161 "The serialiser gets confused which object to deserialize if type is dictionary."
Following code works fine in first search when you cast node as dictionary as "root", but if it's assigned to property of anonymous or typed object, then it decides that your node is Node object and gets it's properties. I think it might be related to v 1.1 change of return type of enumerator

[code]

[2016-02-16 20:28] cskardon commented on #161
Sorry, what do you mean by 1.1 change of enumerator?

-----Original Message-----
From: "Dmitriy Krasnikov" <notifications@github.com>
Sent: ‎16/‎02/‎2016 20:11
To: "Readify/Neo4jClient" <Neo4jClient@noreply.github.com>
Subject: [Neo4jClient] The serialiser gets confused which object todeserialize if type is dictionary. (#161)

Following code works fine in first search when you cast node as diction

[2016-02-16 20:30] dmikov commented on #161
Breaking Changes in 1.1

CollectAs now returns IEnumerable<T> and not IEnumerable<Node<T>>

I might be wrong

[2016-02-16 20:58] cskardon commented on #161
Right, got what you mean. I don't think it is the case, but I'll have a look. I suspect it's possibly down to some deserialization code in the same place as the last issue you raised.

Did what you're trying work fine in the 1.0 versions?

-----Original Message-----
From: "Dmitriy Krasnikov" <notifications@github.com>
Sent: ‎16/‎02/‎2016 20:30
To: "Readify/Neo4jClient" <Neo4jClient@noreply.github.

[2016-02-17 08:45] cskardon commented on #161
OK, I've just realised what you're talking about - you're not doing any `CollectAs` in your code, so that would have no effect.

As a side note - I've also tested against 1.0x and this occurs with that as well.

[2016-02-17 11:39] dmikov commented on #161
Are there any comments on the problem itself? I makes it impossible for me to use neo4jclient for documents that are not strongly typed and at the same time get their relationships.

[2016-02-17 12:06] cskardon commented on #161
Maybe it would be useful to know what you're actually trying to do. The query you have put is just pulling a node out, what is it you actually want to do - the raw Cypher query would do

[2016-02-17 12:13] drgraduss commented on #156
The problem using ```ITransactionalClient``` explicitly is distributed transactions. If you have an ambient transaction that wraps calls to SQL and Neo you would probably need to wrap explicitly Neo calls in ```ITransactionalClient.BeginTransaction()```. Consider below.

[code]

At the moment I can create new ```GraphClient``` for every request. The only downside of this each ```GraphClient.Connec

[2016-02-17 12:41] dmikov commented on #161
[code]
I also would really like to know how to deserialize construct like `ref=node-[r:Reference]-(rfr)`
because I really need the edge and one field from remote node. What do I even tell client the type is.

Here is a little explanation, user can create an app (form) and then create records for it. So the schema is fluid and not defined in code. I can convert it to dictionary and store, I can eve

[2016-02-17 12:41] cskardon commented on #156
Hi - firstly - sorry - I only just realised my draft response hadn't been sent for your last comment, so apologies for looking like I was ignoring you.

So, for your first question - I don't have an ETA - TBH I haven't even got to the route of the problem, I'm not sure if it's the codebase, or the DB doing funny things. As I'm sure you can appreciate - it's a complicated debug process - which take

[2016-02-17 13:38] cskardon commented on #161
Just quickly, have you tried using `Node<Dictionary<string, string>>` for the return types?
This would allow you access to the `Data` property, which would be in the `Dictionary<string, string>` format...

*If* you did go down that route, you can also use something like:

`.Return(node => node.As<Node<string>>())` and use `JsonConvert` to deserialize the `Data` property as you expect.

[2016-02-17 13:57] cskardon commented on #161
In terms of your second question regarding what you'd pull back for `ref=node-[r:Reference]-(rfr)` the data back from Neo4j itself is a collection of Urls to the nodes and relationships, the default way to look at that is:

`.Return<PathsResult>("ref");`

Problem for you is that you probably don't want `PathsResult` instances, as that's just links and pretty useless - what you'd be more after woul

[2016-02-18 10:46] drgraduss commented on #156
Hi, don't get me wrong. I'm not complaining. I do realize transactions implementation complexities.
It would be good to have some notes on the Wiki around transactions, scenarios and possible issues.

In terms of getting neo server configuration and having one config and multiple clients per app. This  looks quite natural to me. This would definitely help with transaction scenario as having client

[2016-02-18 11:12] cskardon commented on #156
So I guess as a basic Tx user myself it's not something that has occurred, so in terms of Wiki updates - I have to rely on people like yourself to find the cases so it can be updated :)

So code-wise are you doing this?

[code]

[2016-02-18 11:18] drgraduss commented on #156
Once I finish load balance testing with different transaction scenarios in our staging environment I will add notes on transaction usage to the Wiki. There might be other issue I suspect.

In terms of server config, this is exactly how it works.

[2016-02-18 11:56] cskardon commented on #156
OK, great, I'd be interested in looking at a pull request if it is working as you hope.

[2016-02-18 14:33] drgraduss commented on #156
Here is pull request https://github.com/Readify/Neo4jClient/pull/162. Have a look. Cheers.

[2016-02-18 14:52] cskardon commented on #156
Cheers buddy, I'll have a look as soon as I can!

[2016-02-19 19:41] jefersonmanjos commented on #156
Hey guys, I'm having a similar problem. I have a scenario where the client can fire two simultaneous requests to perform an update on the node. Without transaction mechanisms generate an inconsistency in the bank.

When I put the TransacionScope, I have the following error: Neo.ClientError.Transaction.ConcurrentRequest "," message ":" The requested transaction is being used concurrently by another

[2016-02-19 20:16] cskardon commented on #156
If you can write a test that can generate this, I would be super pleased to
see what I can do.

So a few questions:
Are you using the `TransactionScope` in the same way as @drgraduss? i.e.
with a SQL transaction as well?
Have you tried the `ITransactionGraphClient`?
What exactly is the update? (setting things? adding relationships?)

The message you're getting seems to be different, how is your cl

[2016-02-20 11:03] drgraduss commented on #156
@cskardon @jefersonmanjos I updated pull request with usage example + the reason behind this change. Hope this helps. Let me know if there is any issues.

[2016-02-22 20:39] cskardon commented on #156
@drgraduss @jefersonmanjos - does this pull fix it for you?

I'm wanting to make sure before I pull it in - I don't want to make it worse!

[2016-02-24 17:44] jefersonmanjos commented on #156
Hey guys, sorry for the delay. At this time I believe solved my problem using ITransactionalGraphClient. I followed the example here: http://neo4j.com/blog/integration-testing-neo4j-c-sharp/

Thank you all. If another scenario untested appear, I comment here

[2016-02-24 21:37] drgraduss commented on #156
@jefersonmanjos you will have issues with `ITransactionalGraphClient` when you run into certain number of concurrent connections as discussed above.

@cskardon my pull request deals with ability to cache server configuration and use client per request. it works for scenario with multiple concurrent transactions as each client has it's own transaction manager. works with both standard `TransactionS

[2016-02-24 21:40] cskardon commented on #156
Oh hey, no worries, I just wanted to make sure it was all good, I'll get a version done tomorrow!

-----Original Message-----
From: "drgraduss" <notifications@github.com>
Sent: ‎24/‎02/‎2016 21:38
To: "Readify/Neo4jClient" <Neo4jClient@noreply.github.com>
Cc: "Chris Skardon" <cskardon@xclave.co.uk>
Subject: Re: [Neo4jClient] "The requested transaction is being usedconcurrently by another request"

[2016-02-24 21:46] drgraduss commented on #156
@cskardon I just want you to have a look and review pull. no pressure :) Let me know what you think.

[2016-03-15 06:14] neutmute opened #163 "Speciying username, password and proxy"
Unless I'm being daft, I can't see how I can specify a HTTP proxy for the `IHttpClient` **and** a username and password for neo4j at the same time.

I can
* construct `GraphClient` with a username and password, but not pass in a IHttpClient at the same time
* construct a `HttpClientWrapper` with a username and password but I can't control the `HttpClient` as it is internally created

I propose to

[2016-03-15 08:44] cskardon commented on #163
You could just change it to

`public HttpClientWrapper(string username = null, string password = null, HttpClient client = null) : this(client??new HttpClient())`

Which would preserve the same flow as current, but also give you the proxy options...?
That'd be my preferred change..

How does that look. I've shifted the `HttpClient` to the end to ensure it won't cause any breaking changes with peop

[2016-03-15 08:47] cskardon commented on #163
PS. If that works for you, I can get that in and done without you needing to do a PR

[2016-03-15 21:17] neutmute commented on #163
That will do nicely - thanks!

[2016-03-16 10:02] cskardon commented on #163
Just publishing now, will be in `1.1.0.30` let me know what you think!

[2016-03-16 10:02] #163 closed

[2016-03-16 10:32] cskardon commented on #163
Make that `1.1.0.32` due to some 'fun' with my incoherent checking in.

[2016-03-17 04:52] neutmute commented on #163
Worked perfectly - thanks :+1:

[2016-03-21 04:07] kanabut opened #165 "how to use like clause in neo4jclient in windowform C#"
hello i want to use like clause in windowform C# but it does't work pls help me
here is code

                `var nameapps = textBox1.Text;
                  var client = new GraphClient(new Uri("http://localhost:7474/db/data"), "username", "password");
                    client.Connect();
                    var apps = client.Cypher
                      .Match("(a:App)")

[2016-03-21 09:39] cskardon commented on #165
Your `.WithParam` should be:

`.WithParam("nameParam", string.Format(".*{0}.*", nameapps))`

[2016-03-24 16:20] billwoo opened #167 ".NET WinForms cannot load Neo4jClient"
"Cannot find source code: ResponseBuilder.cs is undefined"

Win 8.1/64 Visual Studio 2013, compiling with .NET 4.5. Installed: ReSharper 10.0.2, PostSharp

Installed Neo4j Community today. version 2,3,2 Server app is open now.

Created a new WinForms project.

1. used NuGet to install latest Neo4jClient

       // other necessary usings present
        using Neo4jClient;
        private GraphClien

[2016-03-24 17:40] cskardon commented on #167
Hi Bill,

Are you doing any querying at all?
I've just created a new WinForms project, added Neo4jClient and my Form1 code looks like:

[code]

I've also added a button to perform a query, and this works as well - I presume you're using `1.1.0.32` of `Neo4jClient`.

Do you get the error from the `.Connect()` method call?

[2016-03-25 10:27] Ashallar opened #168 "C# - Neo4J - CustomHeaders()"
Hi guys,

i'm currently trying to add a field into the Header of my Cypher requests to tell the load-balancer wether it's a write or read request so it directs the query on Master or Slave Neo4j instance.

`NameValueCollection collection = new NameValueCollection();`
`collection.Add("X:Write", "1");`
`client.Cypher.CustomHeader(collection)`

But when executing the query, i'm getting Exception such

[2016-03-25 12:23] Ashallar opened #169 "Cypher - Neo4J - Dynamic Relationship type using type(r)"
Hi guys,

i would like to know if there's is a way to dynamically set the relationship type using type(r) for node relationship copy for example. Or any other way to make it work around:

[code]
`type(r)` isn't interpreted, the cypher tries to set the type to "type(r)".

I've tried several options such as `SET` to extract type into a variable and then set (r:Variable), but once again, the variable

[2016-03-25 17:16] #168 closed

[2016-03-25 17:18] Ashallar commented on #168
Actually, it was just the "X:Write" that was messing it up. Naming the field "Write" solved it.

[2016-03-25 21:53] billwoo commented on #167
Thanks for your response !  I installed the Neo4j client via NuGet, and it's showing up as run-time version v4.0.30319, version 1.1.1.0.

I've tried both declaring the Client as GraphClient, and IGraphClient, but the error occurs when trying to instantiate the 'client variable. Strangely, if I set a breakpoint just before the 'client is instantiated, I get a different error:  "GraphClient.cs not f

[2016-03-28 10:07] tathamoddie commented on #168
HTTP does not allow the use of `:` characters in header names. (See https://tools.ietf.org/html/rfc7230#section-3.2)

The .NET HTTP client is enforcing this rule at the time of the request being created.

[2016-04-01 13:13] billwoo opened #171 "still not able to use Neo4j client"
Win 8.1/64

1. upgraded VS 2015 Community to update 2 (but did not install the Xamarin stuff)
2. upgraded Java to v. 8 version 77
3. created a Firewall rule that keeps port 7474 open for access

Note that the Neo4j Community Edition 2.3.2 client will run (and ran fine before these updates), and is able, obviously, to use port 7474.

But, when I try instantiating a GraphClient in C# I get various e

[2016-04-01 13:15] cskardon commented on #171
If you can't access 7474 in Chrome it's a `Neo4j` Issue, not a `Neo4jClient` issue.
Have you tried going to http://localhost:7474/ ? instead of using the ip?

[2016-04-01 13:22] billwoo commented on #171
going to http://localhost:7474/ in Chrome results in:

The device or resource (localhost.) is not set up to accept connections on port "7474".

thanks, Bill

[2016-04-01 13:24] cskardon commented on #171
Do you have another Firewall anywhere? Is the server definitely running? Did you install it, or running it as an EXE?

[2016-04-01 13:50] billwoo commented on #171
I use the EmsiSoft firewall, and, as I said, I created a  rule there to allow full access to port 7474. I assume, since the Neo4j Community app can run okay, port 7474 is not blocked.

I installed the Neo4j client in the test .NET apps via NuGet.

thanks, Bill

[2016-04-01 13:59] cskardon commented on #171
I think the assumption is in this case not correct - if you can't access the db via Chrome, the service is *not* accessible - have a look in the `conf/neo4j-server.properties` (I can't remember the exact name) - and look for a commented out bit that says:

`#org.neo4j.server.webserver.address=0.0.0.0`

uncomment it and restart and see if you can then get to it in Chrome.

[2016-04-01 14:08] billwoo commented on #171
Okay, uncommented the line you mentioned. Same error in Chrome, same error in VS 2015.

The config file at present: the only two edits I have made are to set dbms.security.auth_enabled to 'false and to uncomment the line you mentioned.

thanks, Bill

#***************************************************************
# Server configuration
#************************************************************

[2016-04-01 14:11] cskardon commented on #171
And the server is on the same machine you're developing on?

[2016-04-01 14:14] billwoo commented on #171
I am using a single dev machine not connected to any network. Did I miss an installation step ?

thanks, Bill

[2016-04-01 14:19] cskardon commented on #171
TBH I've never used the exe installer, so I don't know - I'm a bit out of options on this I'm afraid - this is `Neo4j` setup you're best bet is to ask on Stack Overflow with a `Neo4j` tag so you can get one of them to help you - as far as I can tell you've done everything to get the DB up and running.

One thing to try would be to get the .zip version from: `http://neo4j.com/download/other-release

[2016-04-01 14:31] billwoo commented on #171
Thanks very much for your time !  I'll get the zip version and install.  I suspect there's some simple thing amiss here, possibly the result of demonic mischief :)

yours, Bill

[2016-04-01 14:34] cskardon commented on #171
Let me know how you get on1

[2016-04-02 08:04] neutmute opened #172 "Add related projects to Wiki"
I'm using Neo4jClient in several applications along with some complementing projects that deserve some more recognition, so I propose adding some shamless plugs to the wiki. It appears I can edit the wiki directly but consider it to be poor etiquette in this case, hence the issue first.

I propose adding the following to https://github.com/Readify/Neo4jClient/wiki/home.md after the `Commercial Sup

[2016-04-02 08:05] neutmute commented on #172
PS: I cloned the wiki with the intention of PR'ing it but there is a file that is causing git to spew on Windows: `how-to-translate--following-cypher-to-c#?.md`

It's an illegal filename so it is stuck in staging as a deleted item

[2016-04-02 11:41] dnauck commented on #122
@cskardon any news on this?

[2016-04-05 08:14] cskardon commented on #172
Hey - thank you for this, sorry I didn't merge it earlier...!

[2016-04-05 08:15] cskardon commented on #171
Hi,

Have you had any luck with this?

Thanks

Chris

[2016-04-05 08:29] cskardon commented on #169
As far as I'm aware you can't do this in Cypher, you could try asking on StackOverflow for to see if any of the Neo4j guys know, but I don't know of any way to set a label from the Cypher itself. Most cases I know of you end up writing that as a `string.Format` type thing.

Not an ideal answer I know :(

[2016-04-05 08:29] #169 closed

[2016-04-05 15:02] cskardon commented on #122
I'll happily look at pull requests for it (two really)

* one for executing a query with just a string + params
* the other for returning the raw json result

I'm afraid I don't have the time to implement these myself as I've 2 major changes (dotnetcore and Bolt) that need most attention at the moment.

[2016-04-05 15:06] cskardon commented on #167
I'm closing this as it's the same as #171 and we've discussed it more there.

[2016-04-05 15:06] #167 closed

[2016-04-06 00:28] neutmute commented on #172
cool I'm happy to do it - just didn't want to do it without permission so to speak

[2016-04-06 00:28] #172 closed

[2016-04-06 07:20] cskardon commented on #172
Brilliant, thank you buddy!

[2016-04-09 14:32] tomaszguzialek commented on #51
Not sure if I am hijacking this issue, but my problem looks very similar. I am not running ASP.NET though, just a console application.

I have an empty database in Neo4j 2.3.3 on Windows 10. I am trying to create a node if it does not exist yet, so I modified slightly the example from the README:
[code]
I could see this code working correctly once, but whenever I try again, the call to ExecuteWith

[2016-04-09 21:50] neutmute commented on #51
Disclaimer: off the top of my head....general debug strategy

[code]

* Break and inspect here
* Add watch to q
* There is a cypher debug property somewhere.
in the watch window, add ",nq" ie: `q.MagicDebugProperty,nq`
* Replay the generated cypher in neo window

[code]

[2016-04-10 11:24] tomaszguzialek commented on #51
This is the result of ```q.Query```:
[code]
In order to run the query manually in the Neo4j browser, I had to remove escaping of the quotes and \r\n characters. Also, the keys in the DebugQueryText (namely, Id and Status) are in quotes and Neo4j browser did not accept it. According to https://github.com/Readify/Neo4jClient/wiki/cypher#debugging, these inconsistencies are probably not important to

[2016-04-11 09:29] cskardon commented on #51
So, are you doing this in a straight console app?
I've run the following:

[code]

and I get to the final `Console.WriteLine`, it's not hanging for me. How exactly are you running this code - can you put all the code into a Gist or something so I can see it?

[2016-04-11 18:42] tomaszguzialek commented on #51
I stripped off all the unnecessary parts and reproduced the deadlock with this code: https://gist.github.com/tomaszguzialek/88339cb0d6ab23a049d7d5030933215e Now the execution hanged at connecting to Neo4j. It seems that the async execution is the core of the problem.

Tried to add ConfigureAwait(false), resulting with ```AsyncContext.Run(() => program.MainThreadAsync().ConfigureAwait(false));```,

[2016-04-12 12:08] drgraduss commented on #51
Voting up on this issue. I have windows service which connects to Neo4j database at start. Deadlock happens sporadically on `GraphClient.Connect()`.

There was an issue opened in Feb which has the same root cause. https://github.com/Readify/Neo4jClient/issues/157

[2016-04-12 19:31] #58 closed

[2016-04-15 21:32] corygehr opened #174 "Expression of type System.Linq.Expressions.TypedParameterExpression is not supported."
I'm getting the mentioned exception when returning more than one identity in a Cypher query. Using the latest Neo4jClient from nuget.

Query:
            var result = this._client.Cypher
                .Match("(a:LabeledNode)-[r:RELATES]-(b:OtherNode)")
                .Where((LabeledNode a) => a.Name == name)
                .Return((a,r,b) => new
                {
                    a,r,b

[2016-04-18 12:52] cskardon commented on #174
Hi, very sorry - I thought I'd replied to this - it would appear my phone didn't send the message...

I think you need to change your `Return` statement to:

[code]

I think you need to specify the property types, `Neo4jClient` has no idea how to parse the return..

[2016-04-18 12:53] cskardon commented on #165
I'm closing this as it's been a month since answering - any objections please reopen! ta!

[2016-04-18 12:53] #165 closed

[2016-04-18 12:53] cskardon commented on #171
I'm closing this as it looks like it's gone to hibernation - any objections please reopen! ta!

[2016-04-18 12:53] #171 closed

[2016-04-18 12:54] cskardon commented on #161
I'm closing this as it looks like it's gone to hibernation - any objections please reopen! ta!

[2016-04-18 12:54] #161 closed

[2016-04-18 12:56] cskardon commented on #121
I'm closing this as I think this is an ongoing work in progress and won't really ever be finished.

[2016-04-18 12:56] #121 closed

[2016-04-18 13:02] cskardon commented on #51
So @drgraduss did the pull request you submitted not fix #157 for you?

[2016-04-18 13:32] drgraduss commented on #51
@cskardon it started happening again some time ago. My actual fix at the moment do a lazy `GraphClient.Connect()` on the actual usage rather than during initial bootstrapping.

I'm using Neo4Client as part of topshelf win service. From time to time starting service fails with deadlock. But if service set to start automatically and machine rebooted it will always fail to start and deadlock on `Grap

[2016-04-18 14:37] cskardon commented on #51
I might publish a pre-release for you guys to test - would that be alright?

[2016-04-18 14:49] drgraduss commented on #51
@cskardon absolutely. cheers!

[2016-04-18 14:52] cskardon commented on #51
OK, I have a beta that you could try if you want, it's on MyGet - so you'll need to add

https://www.myget.org/F/neo4jclient-tx/api/v3/index.json (VS2015)
or
https://www.myget.org/F/neo4jclient-tx/api/v2 (VS2012)

as a feed.
You're after v. 1.1.0.35-Beta (so make sure 'prerelease' is checked).

Once you have it, please try using the `ConnectAsync` overload. Using this version against the gist supp

[2016-04-18 16:43] corygehr commented on #174
Ah! So this wasn't quite the solution, but it helped me figure it out.

I was actually doing what you suggested, but I was experimenting with the library and so I never used .As() on the relationship variable, just my nodes. Using .As<object>() solved the issue, so now I'll create a type for it as well... thanks!

[2016-04-18 16:43] #174 closed

[2016-04-18 16:53] dmikov opened #175 "ReIndex seems to insert instead of update"
I have a quick question regarding legacy indexes support in Neo4jClient. I am trying to use Client.ReIndex, but it doesn't look like it updates values it looks like it is adding them. I see that new files are created in index folder. And they keep appearing when I loop reindex and just change values of keys. What is the right way to reindex node with LegacyIndexes? It's a fulltext lucence index.

[2016-04-18 19:10] tomaszguzialek commented on #51
Thanks @cskardon for the patch. ConnectAsync() does not deadlock anymore for me when run against the gist code. However, it still does later on - during executing MERGE query. Some progress then, but does not resolve the problem entirely.

[2016-04-18 19:49] danielmarbach commented on #51
Btw. If you guys want/appreciate I would take a closer look at the async code. Interested?

[2016-04-19 07:08] cskardon commented on #51
Wow - my reply by email thing really is not working - @danielmarbach yes! That would be amazeballs!

@tomaszguzialek -- Just to check - have you changed the gist code to use the Async methods?
i.e. `.ExecuteWithoutResultsAsync();` ???

[2016-04-19 20:21] danielmarbach commented on #156
I'm pretty sure the issue is:

[code]

Thread static doesn't play well with async. See my post [here](http://particular.net/blog/the-dangers-of-threadlocal). I suggest you either float the current transaction around in the framework by using the CommittableTransaction directly, use logical call context (has its caveats as well), or upgrade to 4.6 and use AsyncLocal.

[2016-04-19 20:30] danielmarbach opened #177 "ResponseBuilder custom task factory"
Currently the response builder allows passing in a custom task factory

https://github.com/Readify/Neo4jClient/blob/master/Neo4jClient/Execution/ResponseBuilder.cs#L120

Most of the code always uses null.

What is the design reason for this? HttpClient calls are pure IO based operations and should not be wrapped in `Task.Run` or `factory.StartNew`. So why even support it?

[2016-04-19 20:42] danielmarbach opened #178 "Sync, Async, Postfixes why bother?"
The library provides both sync and async versions. Some methods are only available as sync APIs, the sync APIs sometimes reuse async APIs internally and are subjected to deadlocks because of context capturing. Some methods are postfixed with async when they return a task. Sometimes not.

the client is mostly pure IO based using HTTP calls. .NET Framework already moved into [pure async APIs with th

[2016-04-20 10:13] cskardon commented on #178
Please excuse any naivety in my questions here!

So - on the postfix side of things - it makes sense if the whole library is Async - so that's all good.
In your view - is this a big (as in time to do it) change?

I assume this would be a major version change (semver wise) as `Results` would now be `ResultsAsync` and that would cause breaking changes?

[2016-04-20 10:18] cskardon commented on #177
All of the code uses null!
These are public methods so my assumption is that @arturosevilla is using them? Is this the case?

[2016-04-20 10:27] danielmarbach commented on #178
Yes it would be a major.

Switching to async only seems to be involved especially on the transaction side of things. The rest seems to be pretty straight forward

[2016-04-20 11:10] cskardon commented on #156
Hey @danielmarbach - by float - you mean pass it around, instead of storing in the `scopedTransactions` bit?

[2016-04-20 11:45] danielmarbach commented on #156
Yes. For example you can pass around commitable tx or you own tx wrappers

[2016-04-20 12:42] mastoj opened #179 "Serialization error of datetime with no-nb region when run in transaction."
We found a really weird bug when we were setting up integration testing in our project. On the machines where we have region set to no-nb (norwegian), we get some weird serialization error. Note that you have to set region to no-nb on the machine, we haven't been able to reproduce it with just setting it on the current thread.

It looks like we only get the error when we are using transactions, an

[2016-04-20 13:01] cskardon commented on #179
Hmm, Odd indeed - ok so:

Is the DB on the same machine?
If the DB is on a no-nb machine - and the app is on an en-us - does that do the same?
Vice versus?

I appreciate you may not have the answers to all those!

[2016-04-20 13:27] mastoj commented on #179
We have tried running it on same and different machine. And as far as I can tell only the region of the local machine makes a difference.

[2016-04-20 13:27] mastoj commented on #179
I fixed our problem in my fork, but that broke a couple of other tests.

[2016-04-20 13:29] mastoj commented on #179
This fixed my problem: https://github.com/mastoj/Neo4jClient/commit/f375dd0656ba8f11eaae0a545042793cc7bc6026#diff-f0f136fb15508fecf0711a60954dee00R72

It is a little bit weird that you try to parse the date, and then never use the result as I can see. Or is that just a check to make sure it is possible to parse to datetime and then let json.net do the actual parsing.

[2016-04-20 13:53] cskardon commented on #179
I agree - the broken tests you're getting are because `DateTime.TryParse` appears to be ignoring the `Z` at the end of the Date string in the test, for example (in LinqPad):

[code]

`dt` is set correctly, but the `dt.Kind` property is set to `Local` on mine, the `Z` should make it UTC. Not a problem for `DateTimeOffset` apparently - very odd.

[2016-04-20 14:08] mastoj commented on #179
This: https://github.com/mastoj/Neo4jClient/commit/f3d4841d2615804a900d7b96763d69ed8e1c9e16 is a fix that doesn't break any other tests. Not sure how you want these kind of tests to be written, that's why it isn't a PR.

Although this fixes the issue, I do feel it is a "hack". The real question is why there is a different in behavior when you use a transaction.

[2016-04-20 19:11] tomaszguzialek commented on #51
@cskardon My bad, I didn't use an async method there (still a newbie in it). I did that now and it seems to work!

[2016-04-22 11:34] wcrooy opened #181 "Load CSV should also support with headers and fieldterminator"
LOAD CSV should also support with headers and fieldterminator.
These should not be breaking for current implementations.

[2016-04-22 12:16] Gentlehag opened #183 "TaskCanceled exception after 100 seconds"
I've a method which links a lot of vertices. now always after 100 seconds i got a Taskcanceled exception.

There are about 60.000 Source and  300 Target Vertices

Even I set the MacExecutioneTime to 20 Minutes. The exceptions always raises after about 100seconds (+/-10) when I use less data so it finishes faster it work.s

It occurs with the normal and the async method.

the stack is

There the me

[2016-04-22 12:20] Gentlehag opened #184 "BestPractive large Dataimport"
I've much data in a mongodb i want to have ina graph db.
not all informations are already present in the database. vor example the weight for edges should be calculated when importing.

What is there best way to import it ? using a csv or by code?

[2016-04-22 12:25] cskardon commented on #184
I think you'll be better off asking this in StackOverflow using `Neo4j` as
a tag, so you can get the more generic response from the Neo guys as well.

*However* - I suspect (particularly if you're using `Neo4jClient`) that a
CSV import will be quicker, and then perform a weight calculation
separately.

On 22 April 2016 at 13:20, Boas Enkler <notifications@github.com> wrote:

[2016-04-22 13:15] cskardon commented on #183
Hi, I've answered your Stack Overflow, so I'm going to close this so there is only one thread!
Cheers

[2016-04-22 13:15] #183 closed

[2016-04-22 13:16] cskardon commented on #181
Closing with thanks for the pull request!!

[2016-04-22 13:16] #181 closed

[2016-04-22 14:40] cskardon commented on #179
The date value you are deserializing - in the DB is is stored in nb-NO format? i.e. `25.07.2015` or some other format?

[2016-04-22 15:26] mastoj commented on #179
I'm pretty sure it is stored as yyyy-MM-dd and then the time.
On Apr 22, 2016 16:40, "Chris Skardon" <notifications@github.com> wrote:

[2016-04-22 15:51] cskardon commented on #179
Good ol' ISO!
I'm publishing a pre-release on my-get (https://www.myget.org/F/neo4jclient-tx/api/v3/index.json) that it would be awesome if you could test, I noticed a few odd things happening around dates, in particular - even though the tests all check for the 'Z' ending - that is stripped off long before it reaches the deserializer.

It's 1.1.0.38 (Pre-release only) - if you can't test, no worr

[2016-04-24 07:09] Gentlehag opened #185 "Auth doesnt work"
in a fresh install i changed the password.
Then I try to login with the client. I set the plain username(neo4j) and the plain password . But I always got 401 .

When i use a simple password like `foo`. it works. but when I use something like that` §5/4$%!%/$§%`
it fails.

Is there some kind of encoding I have to do?

[code]

[2016-04-24 10:01] cskardon commented on #185
You shouldn't need to, if you connect without the custom httpwrapper does it work?

[2016-04-25 06:29] Gentlehag commented on #184
ok i'll have a look at it.

In My case I've two kind of nodes which are having ids. like Comapny and CompanyStop. the CompanyStop also has a CompanyId property.

i was told that creating an index on the fields which relate the nodes can be helpfull. currently I cant find a example how i would do this with your client. could you provide a short example ?

[2016-04-25 08:52] Gentlehag opened #186 "3.0 RC 1 when creating {"CypherTypeException: Parameter provided for node creation is not a Map"}"
I'm testing with the 3.0 RC of Neo4J

since that I get the exception
{"CypherTypeException: Parameter provided for node creation is not a Map"}

when I call this command

`CREATE (n:GraphCompany {nodes})`

created with this code:

[code]

am I doing somewrong ? Should I pass a dictionary or is just the client currently not compatibled with the 3.0 RC 1

When I try it like the following code it say

[2016-04-25 16:17] cskardon commented on #186
Well - your second one is creating a new `Anonymous` type - which has a property called `values` - so you'd actually want something like:

`WithParams(values)`

_However_ I have replicated your original issue - this does appear to be a difference between how 2.3+ and 3.0+ appear to handle this format of Cypher. Even if you switch to passing in a `Dictionary` - it will still fail at the same point.

[2016-04-25 16:24] cskardon commented on #184
Check out the Neo4j Docs - http://neo4j.com/docs/stable/query-schema-index.html for how to do it.

In the client:

`client.Cypher.Create(“INDEX ON :Company(propertyhere)”).ExecuteWithoutResults();`

For your constraints its:

`client.Cypher.CreateUniqueConstraint("c:Company", "c.Id").ExecuteWithoutResults();`

[2016-04-25 16:24] #184 closed

[2016-04-25 18:43] Gentlehag commented on #186
ok thx for hint ill give it a shot

[2016-04-26 06:25] Gentlehag commented on #186
FYI with unwinding the nodes it works.

[2016-04-26 06:25] #186 closed

[2016-04-26 10:08] freein commented on #179
Thanks @cskardon!
I'm working together with @mastoj. I have tested your prerelease and I can confirm it is working.

[2016-04-26 10:42] cskardon commented on #179
Ok, I'll get that out asap

[2016-04-26 12:18] cskardon commented on #179
Should be on the way

[2016-04-27 06:11] Gentlehag opened #188 "How to use path finden"
When I look at this http://neo4j.com/docs/stable/rest-api-graph-algos.html#rest-api-execute-a-dijkstra-algorithm-and-get-a-single-path I cann see that I can use some pathfinding alogrithms like dijkstra.

Currently I can't figer out how to do this with the Neo4J Client. Would I have to do this using the rest interface or is there a build API I'm overseeing?

[2016-04-28 15:30] cskardon commented on #188
I'm unaware of anyway to achieve this using the Client - there appear to be options with using Dijkstra in Cypher - (http://stackoverflow.com/questions/27361239/how-to-implement-dijkstras-algorithm-in-neo4j-using-cypher).

From the looks of it, someone has written a Dijkstra stored proc for Neo4j 3.0 (https://github.com/neo4j-contrib/neo4j-apoc-procedures/search?utf8=%E2%9C%93&q=dijkstra) in terms

[2016-05-03 10:40] tugberkugurlu commented on #126
So, Neo4jClient doesn't currently support Neo4j 3.0, correct? Is https://github.com/neo4j/neo4j-dotnet-driver going to be the way forward or does this project still have some other areas to cover? Not sure if https://github.com/neo4j/neo4j-dotnet-driver is a raw protocol support without any fancy .NET bits.

[2016-05-03 10:46] cskardon commented on #126
Not quite - Neo4jClient does support Neo4j 3.0 - what it doesn't support is the bolt protocol. The conversion/addition plan is to make Neo4jClient support bolt, but from a user point of view - I only want one line to change, so instead of: `new GraphClient(new Uri("http://localhost.:7474/db/data"))`, I want it to read `new GraphClient(new Uri("bolt://localhost/"))` - everything else should stay th

[2016-05-06 04:55] dracan commented on #135
Another +1 :) Neo4j is the only library now stopping me from moving to ASP.NET Core and utilising Docker in my application. Looking at #140, it looks like there's a lot of work involved! Such a shame that so much work is required just to move libraries to the next version of .NET and be xplat :-/ Great work so far @tugberkugurlu and @cskardon!! Do you think it might be quite a while before it's re

[2016-05-06 09:13] tugberkugurlu commented on #135
@dracan there are a few missing stuff which seems like @cskardon [is happy for it to re-implemented in a manual fashion or work around it in any other cases](https://github.com/Readify/Neo4jClient/pull/140#issuecomment-169274645). These are the remaining things: https://github.com/Readify/Neo4jClient/pull/140#issue-124983574

Also, [RC2 is a drastic change](http://www.hanselman.com/blog/AnUpdateOn

[2016-05-06 10:26] cskardon commented on #135
I don't want to sideline this ticket particularly, but I've been playing with a spike where I've done as @JakeGinnivan suggested and created a PCL - this leaves the TX stuff in place for full users - and (admittedly - this is the poo bit) removes it from the Core CLR version - but would give a quicker time to get a core version out.

I agree with the RC2 wait - and that's the main thing preventing

[2016-05-06 14:08] tugberkugurlu commented on #135
Don't worry about it at all. Whatever works best here is all OK for me. I just wantted to kick start this as early as possible and pull request was helpful to visualize. So, all OK for me for this to be taken to any direction that you see fit :+1:

I would say next milestone would be a better start. It's still not certain it will not change but I suspect there will be a lot more changes. The good

[2016-05-06 20:51] amcdnl commented on #135
@tugberkugurlu I spoke w/ their team on phone, they said 3.1 timeframe is when we could expect core support.

@cskardon don't know if you've seen this article regarding current state of affairs on rc2 - https://blogs.msdn.microsoft.com/dotnet/2016/05/06/net-core-rc2-improvements-schedule-and-roadmap/

[2016-05-09 20:53] RossJayJones commented on #126
Just to build on @cskardon's comments above, I think keeping the fluent interfaces is definitely the way to go, however I think there will need to be some re-work in the IGraphClient interface and implementation.

In my mind the architecture would look something like this:

![neo4jclient](https://cloud.githubusercontent.com/assets/1539944/15127220/0287a61e-1636-11e6-9140-1a01238f0e72.png)

So the

[2016-05-19 13:09] cskardon commented on #135
Please give it a whirl -> I *fully* expect there to be issues - it's pre-release after all.
**TX DOES NOT WORK IN CORE**

https://www.myget.org/feed/neo4jclient-tx/package/nuget/Neo4jClient

[2016-05-29 09:10] itcthienkhiem opened #189 "fix problem when delete node with GUID"
when delete node in node4jclient use neo4jclient
-1. Create

[code]

-2. Delete node, it not deleted?

[code]

-3. problem???

Object reference not set to an instance of an object.
[code]

[2016-05-30 08:01] cskardon commented on #189
I don't know exactly what your problem is, but I suspect it's something to do with your types, or similar, you can try adding the `clsPlaceEntity` to this problem as that will help.

For what it's worth - you don't need to store the GUID as a string, but as you have - this test code works perfectly, so I can only assume it's something you've not put up here. Add your class definition and we'll see

[2016-06-07 07:43] Ashallar opened #190 "TaskCanceledException on ExecuteWithoutResults()"
Hi,

An exception i've never encountered have been thrown in my program:

![image](https://cloud.githubusercontent.com/assets/3002358/15849598/ade56fe6-2c93-11e6-92fe-a9ea7c8d0da5.png)

It has been thrown when executing that query, it occurred randomly, because that query has been execueted properly a lot of my beforehand.

[code]

Do you know what could possibly be the problem and how i can preve

[2016-06-09 10:28] cskardon commented on #190
`TaskCanceledException` usually comes from a timeout being hit from the HTTP connection - the default is limited to 1 minute, so you can try extending the timeout like:

[code]

[2016-06-13 20:34] TheRubble commented on #135
@cskardon Hi just trying that new Core library, where is the source that's backing it? I'd be more than happy to patch up things as I find them.

[2016-06-14 07:56] cskardon commented on #135
@TheRubble I'll shift the source into this repo shortly - probably tomorrow or thursday (remind me if I have forgotten) - I've just moved house - currently awaiting BT to actually get me connected to the internet.

[2016-06-14 08:56] cskardon commented on #135
@TheRubble I sneaked some WiFi - have a look at: https://github.com/Readify/Neo4jClient/tree/DotNetCore

[2016-06-14 08:57] TheRubble commented on #135
@cskardon Love it :+1: Sneakt Wifi

[2016-06-17 07:33] Ashallar commented on #190
Thanks for the answer Chris, i also have another question, is there something in the wrapper that allow us to automatically retry the query when the server sent an error 500 ?

[2016-06-17 13:51] cskardon commented on #190
Hullo, No there is nothing in the wrapper to do anything like that.

As a 500 error is an internal server error, I don't think I would put anything in to handle that as you could be bombarding a server constantly that is in a bad state.

[2016-06-20 11:33] mastoj commented on #179
@cskardon what is the status for this issue?

[2016-06-20 12:54] cskardon commented on #179
Hi @mastoj, it should be in the most recent, sorry I totally forgot to update this, please let me know if it's not.

[2016-06-20 13:38] mastoj commented on #179
@cskardon do you mean the latest stable or the latest?

[2016-06-20 14:16] mastoj commented on #179
Not sure, maybe it is another issue we have. We'll look into it.

On Mon, Jun 20, 2016 at 4:07 PM, Chris Skardon <notifications@github.com>
wrote:

[2016-06-21 11:29] RobinHoody opened #192 "Call Stored Procedure using neo4jclient"
Sorry if i'm missing something but I can't see how to call a stored procedure using neo4jClient.

Can anyone help please? I'm looking to call this line in cypher:

`CALL apoc.map.setKey( coreUserAccount, 'Claims', Collect(claim) ) YIELD value as UserAccount`

[2016-06-21 12:37] cskardon commented on #192
Hi @RobinHoody ,

You *can* call cypher directly - using the `IRawGraphClient` interface, but it's not advised, I presume this isn't part of a bigger `Cypher` clause - in which case, we might need to look at adding `.Call` and `.Yield` methods

[2016-06-22 09:58] cskardon commented on #192
I've done a post on it here:
http://geekswithblogs.net/cskardon/archive/2016/06/22/calling-stored-procs-in-neo4j-using-neo4jclient-ndashthe-hacky-way-again.aspx

I will work on the actual methods though

[2016-06-22 11:11] cskardon commented on #192
If you get the latest version of Neo4jClient (not pre-release) from Nuget (1.1.0.39) you can now do:

`client.Cypher.Call("apoc.map.setKey( coreUserAccount, 'Claims', Collect(claim) )").Yield("value as UserAccount")`

Just needs Nuget to index the package - usually takes about 5 mins - just check the version is `1.1.0.39`!

[2016-06-22 11:11] #192 closed

[2016-06-29 20:59] arturosevilla commented on #177
I'm not using them. It could have been that during development I left it for testing and forgot to remove them.

If nobody is using them we should probably remove them.

[2016-06-29 21:18] arturosevilla commented on #126
I agree with @RossJayJones

If nobody is working on this, I am giving it a shot.

Also because the serialization would no longer be dependent on JSON, I suggest that we explicitly only serialize information on CRUD operations based on DataContractAttribute and family idioms. Currently all properties of a given class would be serialized, unless they are explicitly decorated with JsonIgnoreAttribute

[2016-06-30 07:36] cskardon commented on #126
Hello!

It *is* being worked on, there is a flow involving taking dotnetcore first as that changed dramatically what can be used / can't be used. Subsequent to that, this will go whole hog.

I won't change the way the serialization works - probably adding a `BoltIgnore` to match with `JsonIgnore` the code between using Bolt or Rest should be almost no difference.

I have a serializer for Bolt alre

[2016-06-30 08:15] arturosevilla commented on #126
Hi,

Wouldn't Neo4jClient use the .NET official Bolt driver? I believe the ISession.Run() takes as a parameter a IDictionary<string, object> exactly to avoid serializing the objects yourself.

[2016-06-30 08:19] cskardon commented on #126
No it wouldn't, the requirements of custom serialization means that you can't use that driver. With the official driver there is no way to direct the serialization.

[2016-06-30 08:20] cskardon commented on #126
Of course - they might add extension points which would have that functionality - but it's not on the table at the moment as I understand it, in which case - Neo4jClient could potentially use it

[2016-06-30 21:29] arturosevilla commented on #126
But why not direct the serialization before it's being handled to the official driver? That is, could not Neo4jClient be modified so that CypherQuery.QueryParameters (which is already Dictionary<string, object>). Something like having a IDictionary<string, object> ISerializer.Serialize(IDictionary<string, object>)?

And when retrieving data, the properties of a given type (as specified by ICypherR

[2016-07-01 02:13] zhaojingbo918 opened #195 "How can I List all labels"
**How can I List all labels by Visit http://localhost:7474/db/data/labels**.I find the uri in neo4j-manual-2.3.2.

[2016-07-01 08:42] cskardon commented on #126
You could do it the way you say, in my view, you're more performing a transform into another object so you can get the serializer to serialize it. You aren't actually in control of the serialization - but that's maybe something you can live with.

To pull the data back from the official driver (have you used it btw) you have to go though a lot of rigmarole to get elements back, personally I see th

[2016-07-01 08:57] cskardon commented on #195
The driver doesn't provide a way to do that I'm afraid, you could run the cypher:

`MATCH (n) RETURN DISTINCT(LABELS(n))`

as an alternative.

[code]

[2016-07-01 08:57] #195 closed

[2016-07-01 12:37] cskardon commented on #135
Just pushed `core3` update to the myget - this is using the RTM versions of the core codebase, I've left `Neo4jClient` as pre-release for now.

[2016-07-05 08:31] morsanu opened #196 "Random ThreadAbortException in HttpClient.SendAsync"
We are using Neo4jClient to build a complex ASP.NET application and some console app workers. All these apps call the database in parallel. We use the GraphClient as singletons in each of the app. We do a lot of calls to the database as we are synchronizing some data from other servers.

While we are doing these heavy operations, we randomly get a ThreadAbortException:

`System.Threading.ThreadAbo

[2016-07-05 08:36] cskardon commented on #196
How big is the operation? How long does it take to complete?
Can you run it on the server directly (i.e. not with `Neo4jClient`?

[2016-07-05 08:36] cskardon commented on #196
Oh and which version of the client are you using?

[2016-07-05 08:45] morsanu commented on #196
@cskardon Thank you for the helper questions, it's my first time posting something on github. :+1:

Each individual operation is not big. We are just doing a lot of node creation and update. Tens of thousands of these small operations per synchronization per user.

The neo4j version is 2.3.0 and the client version is 1.1.0.38

[2016-07-05 08:49] cskardon commented on #196
@morsanu No worries and welcome!
Ok, so are you doing these all in a single transaction? Or is it lots of individual calls? Would any of them hit a timeout of say 60 secs?

I ask this as there is also a timeout that Neo4j has internally, which you can set on a per query basis:

`client.Cypher.MaxExecutionTime( TIME_IN_MS )`

[2016-07-05 08:54] morsanu commented on #196
The thing is that it seems to crash exactly when calling SendAsync. We have some logging in place, and the interval between before the call and the exception is under a second.

We are not using MaxExecutionTime.

[2016-07-05 09:30] cskardon commented on #196
Hmmm, I'm not sure where to point you at I'm afraid - if the tasks aren't big - then that's the normal cause of the exception out.

Do you call the server rapidly? What sort of throughput are you putting? You could switch on logging on the server (https://neo4j.com/docs/2.3.5/server-configuration.html#_http_logging_configuration) and see if it's actively rejecting the calls.

[2016-07-05 12:43] morsanu commented on #196
Yes, we call the server rapidly with many actions in a synchronization. Also, these syncs can work in parallel from multiple users.

From what I am seeing on the server log, all requests are 200 OK.

I will keep you updated if I will find anything else that may give you a clue on what's happening.

[2016-07-09 02:35] Xiariyouhu opened #197 "How to add expression in return clause"
var results = graphClient.Cypher
.Match("(n1:人物)-[:任职]->(n2:机构)", "(n3)-[:挂职]->(n2)", "p1=(n1)-[]->(n4:人才称号)", "p2=(n3)-[]->(n5:人才称号)")
.Return((n1, n2, n3, p1, p2) => new { name = n2.As<机构>().名称, count = p1.Count() + p2.Count() })
.OrderByDescending("count")
.Limit(10).Results;

[2016-07-09 06:37] cskardon commented on #197
count = Return.As<int>("count(p1) + count(p2)")

[2016-07-09 06:37] #197 closed

[2016-07-09 12:48] Xiariyouhu opened #198 "How to express "contains" in where clause ?"
Where((人才类型 n3) =>( n3.人才称号.Contains(personTypeStr)))

[2016-07-11 14:39] cskardon commented on #198
You need to use Regular Expressions - as in the manual: http://neo4j.com/docs/developer-manual/current/#query-where-regex

`.Where("n3.XXX =~ {personTypeStrParam}).WithParam("personTypeStrParam", $".*{personTypeStr}.*")`

[2016-07-12 08:48] cskardon commented on #81
Hi there, there is a .net Core version (pre-release) on nuget that should support PCL?
If it doesn't work - let me know - it's probably just me needing to setup the nuget package correctly.

[2016-07-12 08:49] #81 closed

[2016-07-12 09:05] cskardon commented on #135
So.
I'm holding off on going *rtm* with the core version as I was planning to put transactions in.
The unfortunate thing is that core doesn't support `System.Transactions` and `Neo4jClient` currently uses that for it's Tx management.

Recently (today-ish) the core team have started to look into getting `System.Transactions` into core for 1.1  (see https://github.com/dotnet/corefx/issues/2949).

Th

[2016-07-12 09:33] TheRubble commented on #135
@cskardon Hi,
I'm currently using this in a project and have had absolutely zero issues so far. I think it's a upfront decision that transactions aren't supported and therefore solutions can be designed with this constraint in mind.

Once this functionality is available I'll refactor the project.

Thanks for all your work really appreciated made my life easier.

[2016-07-12 10:13] cskardon commented on #189
Closing as without more information, I can't help anymore.

[2016-07-12 10:13] #189 closed

[2016-07-12 10:14] cskardon commented on #188
I'm closing this as I can't see anyway to go forward, please re-open if you disagree!

[2016-07-12 10:14] #188 closed

[2016-07-12 10:15] cskardon commented on #185
I'm closing this as it seems stale, please re-open if this is still an issue and it's not working.

[2016-07-12 10:15] #185 closed

[2016-07-12 10:16] cskardon commented on #179
Hi @mastoj - Are you still getting the error with the most stable release?

[2016-07-12 10:24] cskardon commented on #75
Added in #150

[2016-07-12 10:24] #75 closed

[2016-07-12 10:24] cskardon commented on #141
Added in #150

[2016-07-12 10:24] #141 closed

[2016-07-12 10:38] cskardon commented on #82
Closing this as it's way stale.
Closest to this would be something like [Neo4jClient.Extension](https://github.com/simonpinn/Neo4jClient.Extension)

[2016-07-12 10:38] #82 closed

[2016-07-12 10:41] cskardon commented on #71
[code]

[2016-07-12 10:41] #71 closed

[2016-07-12 10:42] #74 closed

[2016-07-12 11:34] mastoj commented on #179
@cskardon, I could reproduce the error, so I guess it is fixed :).

[2016-07-12 12:39] cskardon commented on #179
OK, I'll close this for now - obvs. Reopen if it reappears!

[2016-07-12 12:39] #179 closed

[2016-07-12 12:55] cskardon commented on #69
This is in the client. Not sure when it appeared, but has been there for a while.

[2016-07-12 12:55] #69 closed

[2016-07-18 12:28] Xiariyouhu commented on #198
How to return  relationship's name ?

graphClient.Cypher.Match("(p:Person)-[r]->(o:Organization)")

Huang, Zhen 黄真

School of Information, Renmin University of China
中国人民大学 信息学院
Phone : +86 188 131 97861
E-mail : xituosoul@gmail.com

2016-07-11 22:39 GMT+08:00 Chris Skardon <notifications@github.com>:

[2016-07-18 13:14] cskardon commented on #198
This is a different question, the issue reporting for this project is just that - issues with the client. Please ask questions about how to use it on StackOverflow, tagged with 'Neo4jClient' and they will be answered there.

This is so that when someone else has a similar problem they can find it easier.

Also - you need to be more detailed - what have you tried? What works/doesn't work? What Cyph

[2016-07-18 13:14] #198 closed

[2016-07-18 14:01] Xiariyouhu commented on #198
ok!Thanks!

Huang, Zhen 黄真

School of Information, Renmin University of China
中国人民大学 信息学院
Phone : +86 188 131 97861
E-mail : xituosoul@gmail.com

2016-07-18 21:14 GMT+08:00 Chris Skardon <notifications@github.com>:

[2016-08-01 15:07] cskardon opened #199 "Support Transactions in .NET Core"
See comment https://github.com/Readify/Neo4jClient/issues/135#issuecomment-231981065
Waiting for .NET Core to be 1.1 when DTC will hopefully be implemented.

[2016-08-01 18:10] kylebsm commented on #190
I am also now getting TaskCanceledExceptions where I was not before.  I recently upgraded from 2.3.2 to 2.3.3.  What version of client and server are you using Ashallar?

[2016-08-02 12:06] cskardon commented on #135
Hallo!
I'm going to close this now, as the Core version (2.0.0) is on Nuget - remember - **no** transactions in core.

I've opened issue #199 to cover that when Core 1.1 is available.

[2016-08-02 12:06] #135 closed

[2016-08-02 12:07] cskardon commented on #177
They are removed now and not in 2.0.0

[2016-08-02 12:07] #177 closed

[2016-08-05 10:49] cskardon commented on #15
Closing as there will be no response to this.

[2016-08-05 10:49] #15 closed

[2016-08-09 16:26] Ashallar commented on #190
I'm running on 3.0.0 Enterprise Edition.

[2016-08-09 16:27] #190 closed

[2016-08-10 16:50] nZale opened #203 "InvalidOperationException: The collection has been marked as complete with regards to additions."
Hi,

Started to get this error, never happened before. It doesn't happen all the time, but i can't find a fix for it. Using GraphenDB as environment.

[code]

Getting also on other methods. I tried removing the async part, but getting the same.
Any help would be appreciated.

[2016-08-29 08:27] Humanitis opened #204 "Remove Microsoft.Net.HTTP from dependencies"
Hello. Why do you need  libraries Microsoft.Net.HTTP and Microsoft.Bcl? I looked at the project and did not see that them has been used somewhere. Could you remove them from the dependencies?

[2016-08-29 08:39] cskardon commented on #204
Quite right, I'm away at the moment and won't be able to do this until probably wed/thu, feel free to do a pull request if you want it earlier.

[2016-08-29 12:37] cskardon commented on #204
Fixed with Pull Request #205

Thanks @Humanitis !!
It's being published to Nuget now, so probably available in ~ 5 / 10 mins, if not earlier.

[2016-08-29 12:37] #204 closed

[2016-09-01 01:00] jefersonmanjos opened #206 "Neo4jClient System.NullReferenceException"
Some times in Neo4jClient I got this error. I try to investigation whats the problem but I don't found any reason. Does any one have the same problem or can help me?

I'm use the last version.

Thanks

{"Message":"An error has occurred.","ExceptionMessage":"Object reference not set to an instance of an object.","ExceptionType":"System.NullReferenceException","StackTrace":" at Neo4jClient.GraphClie

[2016-09-01 05:27] cskardon commented on #206
Hi @jefersonmanjos, do you have any example code of what you're doing with the client? Cheers!

[2016-09-02 22:23] jefersonmanjos commented on #206
@cskardon I update my question with code on http://stackoverflow.com/questions/39261184/neo4jclient-system-nullreferenceexception

Cheers!

[2016-09-04 20:17] tugberkugurlu opened #208 "NuGet package does not support netstandard1.0"
I am not sure why this happens but even if the package lists `netstandard1.0` dependencies on NuGet (see https://www.nuget.org/packages/Neo4jClient/2.0.0.2), it doesn't seem to support it:

[code]

I worked around the problem for now by adding an import:

[code]

`dotnet` CLI info:

[code]

[2016-09-05 09:38] cskardon commented on #208
I believe [this commit](https://github.com/Readify/Neo4jClient/commit/d1c2fd11faf9ff17f8cc5f7b9506a647e0d414fb) should resolve this, will be in nuget in ~ 5 / 10 mins or so - version 2.0.0.5

Version jump from 2.0.0.2 to 2.0.0.5 due to a mess up on my end.
If it does resolve it, let me know!

[2016-09-05 10:05] #208 closed

[2016-09-05 11:45] tugberkugurlu commented on #208
That seems that it has done the trick 👍

[code]

[code]

[2016-09-07 00:10] jefersonmanjos commented on #206
Hey found the problem. I don't know why but the TransactionContext sometimes is null. In class TransactionManager method GetContext the return nonDtcTransaction.TransactionContext; is null. You have any Idea why this became null?

[2016-09-07 00:53] jefersonmanjos commented on #206
If I remove all my transactions defined like:  using (var transaction = MyGraphClient.BeginTransaction())
Is working fine. No exceptions.

But if I change to using(var scope = new TransactionScope())....I got a lot off erros TransactionIdNotFound.

This is my definition using autofact:

_builder.Register<NeoServerConfiguration>(c => {
					return NeoServerConfiguration.GetConfiguration(uri, user,

[2016-09-07 19:58] jefersonmanjos commented on #156
So @danielmarbach you are right. The  [ThreadStatic] cause issue in Neo4jClient when we use transaction with asyc method.

I change this line:
`[ThreadStatic] private static Stack<TransactionScopeProxy> scopedTransactions;`
for
`static AsyncLocal<Stack<TransactionScopeProxy>> scopedTransactions;`

And is working perfect. But, I have doubt if is the correct way to use AsyncLocal.

[2016-09-07 21:56] danielmarbach commented on #156
Where are your doubts comming from? Based on the littlw code I saw it is used how it should be used. The tricky part is to initialize the value properly since it doesn't provide a value factory like ThreadLocal

[2016-09-07 23:37] jefersonmanjos commented on #206
Fixed in pull request #209

[2016-09-16 07:14] neutmute commented on #16
Echoing @rheusinkveld, `collect` does work if returning it as a composite object

[code]

In the above cypher, the `steps` variable has already been `collect`ed in a `WITH` clause

My collect dto target `CollectedIngredient` is defined like below.

One thing that really stumped me for a while is that the properties in the syntax above *must be* `camelCase` - not `PascalCase` - in order to map to t

[2016-09-16 07:47] cskardon commented on #16
Thanks guys, I've been working my way through the old issues, but hadn't got down to these low numbers :)

[2016-09-16 07:47] #16 closed

[2016-10-01 21:00] #206 closed

[2016-10-06 11:39] stevewash123 commented on #104
I get the same thing with Boolean constants.  I'm calling similar code twice, setting it false in one case and true in another.  Hopefully this can get resolved soon.

[2016-10-06 12:19] cskardon commented on #104
As a work around - I would use the `With` clause to set your bool const:

[code]

using the following class as the return class.

[code]

[2016-10-06 16:29] stevewash123 commented on #104
Thanks! Perfect

[2016-11-04 15:58] rajivkukreja opened #211 "Any example of how one would apply multiple labels using the Fluent Extension?"
Greetings -

Hoping someone has done this before. I'm trying to assign 2 labels to a node using fluent configuration. The following is an example that references a custom type called ```Person```. This shows up as 1 label. I'd like to also apply the label of Person's base class but wasn't able to find any obvious way to do so. Any help is greatly appreciated.

Thanks very much
Rajiv

e.g.
[code]

[2016-11-04 16:09] cskardon commented on #211
Is this from `Neo4jClient.Extensions`?

[2016-11-04 17:20] rajivkukreja commented on #211
Yes indeed Chris. Specifically, ```FluentConfig``` is coming from the ```Neo4jClient.Extensions.Cypher``` namespace.

[code]

[2016-11-04 17:41] cskardon commented on #211
I think you're going to need to ask the guys who wrote it, Neo4jClient.Extension is an addon I'm afraid! https://github.com/simonpinn/Neo4jClient.Extension

[2016-11-07 20:37] rajivkukreja commented on #211
Oh right - I keep forgetting that its Simon who wrote that. Thanks Chris!

[2016-11-08 06:30] cskardon commented on #211
No worries! I'll close this if that's ok with you?

[2016-11-08 06:30] #211 closed

[2016-12-07 16:18] cskardon commented on #126
Soooooooooo, I've not done much work on this of late - work/other things - as always, but I've finally done something, and ... *ahem* after thinking quite a bit about writing a custom serializer, I've come to the conclusion that better developers than myself (@arturosevilla) had already come to, that using the official driver underneath is the way to go.

This has been made easier by the fact that

[2016-12-19 09:23] raskolnikoov commented on #199
Is it covered yet?

[2016-12-19 09:25] cskardon commented on #199
No - they've moved to 1.2 (https://github.com/dotnet/corefx/issues/2949)

[2017-01-02 09:00] simendsjo opened #212 "IGraphClient doesn't have an Disconnect method"
Is it possible to close a connection? `Dispose` doesn't seem to close the connection, and I want to be sure that nobody is using the connection after I've finished using it.

[2017-01-02 10:52] cskardon commented on #212
.Connect doesn't actually open a connection. All it really does It's check that the server is there, because the calls are made via rest, every time you execute a query, a call is made, there's no connection to close

[2017-01-02 12:30] simendsjo commented on #212
I see. This is a problem for us as we have some custom transaction logic and want to make sure nobody is using a reference to a client that has already been commited/rolled back as that would indicate a bug in our code. In order to catch these cases, we need to invalidate the object somehow.

All methods on GraphClient isn't virtual, so simply overriding each method to make sure Dispose has not be

[2017-01-03 13:50] cskardon commented on #212
In principle, no, but I would think you could do it with a bit less code by only adding to the parts where the queries / calls are sent - for example, `.ExecuteWithoutResultsAsync()` - is that the intention?

[2017-01-03 17:03] simendsjo commented on #212
Sounds like a good plan. I'll try that and update/close this issue after I've checked if it's possible.

[2017-01-06 16:29] fab971 opened #213 "Map Projection (Neo4j 3.1.0) not supported"
Hi guys,
First of all , thank your for your awesome work!
I would like to use a new feature released with the last Neo4j version 3.1.0 called "Map Projection". I was waiting for it for a long time since it allows to extend object right in a cypher query. It turns out Neo4jClient does not support it and return null whenever I try to extend am object:

`                  ...
                   .With

[2017-01-06 17:06] cskardon commented on #213
Hullo,

The short answer is yes, as to when, that's a longer answer and I'm not sure what to tell you. At the moment I'm getting bolt into the client, then I'd probably look at doing this.

I'm not sure what the time frame is, sorry :(

If you want to try a pull request I have no objections and would happily put it in!

[2017-01-06 22:20] fab971 commented on #213
yes if you can add it to the pull request I would like it!
I was waiting for this pull request for q long time :)

[2017-01-08 06:49] tathamoddie commented on #213
Hi @fab971! I think @cskardon was suggesting that you could try sending a pull request for this yourself, which he'd be happy to review and then merge in. Even if you could just start with writing the tests, that'd be helpful for somebody to work on an implementation.

[2017-01-09 08:31] simendsjo opened #214 "Cannot deserialize non-nodes directly into variables - have to use Collect."
I'm having some problems deserializing custom views created using WITH. It seems
like it is only possible to deserialize as a collection of data rather than
single data. I only get a single row as a result, but I still need to collect
the view into an array (containing only a single element) rather than
deserializing it directly. Is this a bug in the client, or am I misunderstanding
something?

I'

[2017-01-12 07:57] jschmidtWK opened #215 "Thread hanging when calling Results.First() or Results.ToList() on a query"
Hi @cskardon,

We've recently begun encountering silent failure in one of our apps that seem to be caused by the calls to Query.Results.<First() / FirstOrDefault () / ToList()> never returning.

This happens very rarely, code-wise. Our app processes around 1 to 2 millions of messages a day and makes around 0.5 calls to Neo4j for each message. This failure happens about once in a few days with no p

[2017-01-12 09:49] cskardon commented on #215
Hi @jschmidtWK

Looks like we have two changing variables:
* The use of Transactions
* Upgrading to 2.x

Does the hanging thread occur only within Tx code?

My gut feeling is that the 2.x update is unlikely to be the cause - though if you're not using anything specifically from 2.x you could try the 1.1 versions which have Tx but not core to see if that works.

[2017-01-12 17:19] fab971 commented on #213
Hi @tathamoddie , Ok I'm quite in a rush this days so I don't think I will have time :(
But as soon as I can I would be very glad to contribute to the task :)

[2017-01-26 13:09] jschmidtWK commented on #215
Hi @cskardon,

I've been meaning to revert to v1.1 to test that aspect before replying but I don't have a clear view of the side effects that could be involved and I'm unable to fully test this specific issue outside of our Production environment. So reverting without vision is a no-go.

I can answer the second question however. As of today I haven't seen any query hang that wasn't part of a Trans

[2017-01-26 14:11] cskardon commented on #215
Hmmmm ok, looks like this is going to be 'one of those bugs' :)

Erm, I'll have a think and see if I can come up with some more ideas to look for... sorry it's not an instant 'ahh it's that!' type of response :/

[2017-01-26 14:17] jschmidtWK commented on #215
Interesting bugs and interesting times :)

I *might* have a way to test it under full production load and in a safe environment down the line, as we are making changes to the current architecture, but I'll sleep easier if we can fix it before then :/

[2017-01-26 14:50] cskardon commented on #215
*I'd* rather get it fixed before then as well! :)

[2017-01-29 12:56] nemanjapetrovic opened #217 "How to execute with results"
Hi,

I was searching through your docs: [link](https://github.com/Readify/Neo4jClient/wiki/cypher-examples#create-a-user-only-if-they-dont-already-exist) and couldn't find anything how to get a result.

Let's say I need to add a new node(and/or relationship) to db, and I want to know if that node(or relationship) was added, is there any function which will return me a bool type (true/false added o

[2017-01-29 13:13] cskardon commented on #217
Hi,

No there is no way to get it. The rest api doesn't provide the info I'm afraid. The info you see in the browser is because they hook into different bits of neo.

Sorry!

[2017-01-29 13:13] #217 closed

[2017-02-03 12:38] davidhatten opened #218 "Collection properties seem broken? Can't query or retrieve."
So I have a node with a string collection as a property. I can't find any examples of querying on or returning properties that are collections. Maybe I'm doing it wrong, but when I try to query on the collection, things break.

Querying Collection:

[code]

[code]

Error:
[code]

What's interesting is, I think the error is actually happening at

[code]

There's another problem when I do successful

[2017-02-16 08:51] Clooney24 commented on #214
I have the same problem, posted at stackoverflow.
[http://stackoverflow.com/questions/42255509/neo4jclient-shows-strange-behavior-passing-objects](url)

[2017-02-20 11:08] cskardon commented on #214
I'll close this as it's a duplicate of #213, workaround on StackOverflow was:

I don't know of a way to achieve what you want with anonymous types, only with a concrete class type, so if you had a class called Altogether which looked like this:
[code]
you can then add this line to your current query:
[code]
And return that instead, so the whole query looks like:
[code]
It's not great, but it will

[2017-02-20 11:08] #214 closed

[2017-02-20 11:11] cskardon commented on #218
Hi,

Sorry for not replying earlier - I don't appear to be getting notified about issues.

Have you tried using `IEnumerable` or `List` instead of `Collection` - I know `ICollection` doesn't work, but I'm pretty sure `List` does.

[2017-02-20 17:29] jschmidtWK commented on #126
Hi,

Does this driver support the bolt+routing scenario ? Or should I say, is Causal Clustering support on the horizon ?

[2017-02-21 11:16] cskardon commented on #126
Underlying it's using the `Neo4j.Driver` driver, so as that supports it, it should yes - it's still very much in beta, but version `3.0.0-Bolt-Driver00008` from MyGet *should* work with the `bolt+routing` protocol.

Give it a whirl and let me know!

[2017-02-21 12:18] jschmidtWK commented on #126
Ok, I'll put it on the roadmap then. Once we can be sure bolt+routing and transactions work as expected we can safely transition to Causal clustering and Neo 3.1.

Thanks for the feedback 👍

[2017-02-21 12:19] cskardon commented on #126
Tx support is not there yet, it's on it's way....

[2017-02-21 15:55] davidhatten commented on #218
Alright, I'll try that out if I ever run into a similar problem, but I pivoted away from using property collections because it was the wrong way to solve my problem. I'm closing this unless you want additional confirmation that it works the way you think it does (I trust you though)

[2017-02-21 15:55] #218 closed

[2017-02-28 20:44] Clooney24 commented on #11
Will there be a fix for this issue? What's the best way to handle it? The .ToString()-Workaround might work, but treating enums as strings blows up database size with unnecessary string values? It might also have negative impact on query performance. And hopefully nobody will ever rename an enum, normally no problem in C#. Any advice?

[2017-03-06 11:07] cskardon opened #219 ".Contains doesn't output as `CONTAINS` in cypher"
Example:

`.Where((User u) => u.Email.Contains("chris"))`

Should output:

`WHERE u.Email CONTAINS {p0}`

What it currently outputs is:

`WHERE u.Email{p0}`

[2017-03-06 11:13] cskardon opened #220 "JsonProperty ignored when using Anonymous types"
At the moment, if you have a class defined as:

[code]

If your nodes have a property called `title` (all lowercase) and you do:

`.Return( n => n.As<Movie>())`

The `Title` property will be set correctly. If you do something like:

[code]

It won't set it correctly (all you'll get are `null` values)

[2017-03-08 13:01] davidhatten opened #221 "Can't specify a URI outside of the Neo4j directory for Load CSV"
Every time I try to tell LoadCSV where to find a file, it automagically resets the base of the path to the Neo4j db import path. Is there any way to get the client to let me load files outside of Neo4j's db directory, or is that a limitation of Neo4j that you've coded around?

code for reference

[code]

And the error:

[code]

[2017-03-08 20:51] davidhatten commented on #221
Turns out there's a setting in Neo4j configs that controls this

`dbms.directories.import`

Closing the ticket.

[2017-03-08 20:51] #221 closed

[2017-03-14 10:38] jschmidtWK commented on #215
A quick update on the issue, we are still experiencing it but managed to mitigate its effect by using Polly with a timeout policy. The behavior seems to be limited so far to Tx code, so my instinct would be to check in that general direction. Specifically, I'm thinking either its a Task that is not started/queued or that never returns for some reason...

[2017-04-06 18:58] youngaj commented on #84
I have a similar question about configuring the default serializer for the GraphClient.  I have objects that sometimes have null values which Neo4j doesn't like.  If I could configure the serializer to ignore nulls that would solve me problem but I can't seem to find how to do that.

[2017-04-12 16:35] leviwilson opened #222 "Error Connecting via SSL"
## Description
I am brand new to using the library, but wanted to share an issue that I ran into connecting to our neo4j instance over SSL. I was following the getting started example and had the following code:

[code]

When I tried to `Connect`, I received the following `WebException`:

[code]

Having prior experience with another app of ours, I thought that it potentially was a problem with the

[2017-04-24 17:13] mhelal opened #224 "PathResult of variable node and relationship types is always null on all rows from c#"
Hi,

my path is p = (n1: type1)-[r1:reltype1]->(n2: type2)-[r2:reltype2]->(n3: type3)-[r3:reltype3]->(n4: type4)

it is more of a pattern for a common relationship, that I need to search. It works successfully on the web browser on Neo4j, and the query in Neo4jClient is successful, but serializing p to PathResult object return null on all rows, other return elements are successful, such as n1, n2,

[2017-05-03 18:56] arturosevilla commented on #126
@cskardon Have you had any news regarding tx? I was the original developer of TX before Bolt, and I can lend a hand if there's still no support for it.

[2017-05-04 10:13] cskardon commented on #126
Hey @arturosevilla for .net core - no news - we're awaiting core 1.2 (or 2.0 as I believe it now is)
for normal tx, I think it should be there now please feel free to experiment with the myget version at:

https://www.myget.org/feed/cskardon/package/nuget/Neo4jClient

I've been testing with my own project, however - I don't use TxScope so whilst my projections etc are working - I'm sure there will

[2017-05-04 10:16] cskardon commented on #224
Hi, sorry I didn't receive any notification of this, so only just seeing it now - I'll get back to you asap!

[2017-05-04 10:17] cskardon commented on #222
Hi, sorry I didn't receive any notification of this, so only just seeing it now - I'll get back to you asap!

[2017-05-04 10:20] cskardon commented on #222
Actually - I remember talking to you on slack about this - I'll have a good think about this - and see what I can do to mean you don't have to do the global setting - thanks for putting this here to remind me :)

[2017-05-04 10:55] mhelal commented on #224
thanks

[2017-05-04 13:13] cskardon commented on #224
What version of Neo4j are you running against?

[2017-05-04 13:25] cskardon commented on #224
Right, I think I've got it.

If you were to do:

[code]

it would work, and this is because the result is actually coming back as a List. Because in your response the `PathsResult` is nested, you need to use `CollectAs` so:

`.Return((p, n1, n2) => new { path = p.CollectAs<PathsResult>(), ...`

[2017-05-10 10:55] Olorin92 opened #225 "Prevent initial request on connect"
Hi there,

We're currently using this library as a means to communicate with our Neo4j databases via our WCF web service. The syntax is great and everything has been smooth sailing so far, however we're running into a performance issue.

Because we're querying Neo4j from WCF, each request is essentially a new request, and so the connect method is called on the GraphClient object fairly frequently.

[2017-05-10 12:53] morsanu commented on #215
We are experiencing a similar behavior [https://github.com/Readify/Neo4jClient/issues/196](url)

If you manage to find the cause, please let us know, maybe it will also fix our issue. We are getting the error probably because a task that is in queue is timed out before even starting calling the database.

Thanks.

[2017-05-10 23:49] optiks commented on #225
Hello Olorin92,

"Threading and Lifestyles" (https://github.com/Readify/Neo4jClient/wiki/connecting) confirms that GraphClient is thread safe, and therefore one instance can be shared across multiple requests.

If you're not already using an IoC container I'd suggest looking into that, otherwise a static instance should suffice.

Cheers,

Michael

Sent from my iPhone

[2017-05-11 00:21] Olorin92 commented on #225
Great thanks for that @optiks, I'll look into that!

Had thought about doing a static class to handle this but again, I believe this will be an issue due to the way WCF handles each request (spawning a new process each time), and so as a result the static class would be useless, at least from my understanding!

But I'll take a look into IoC implementations and see if that will work for us.

Thanks

[2017-05-11 06:24] cskardon commented on #225
Thank you for answering @optiks, and I hope your question is answered @Olorin92  - You definitely shouldn't be 'newing' up a new instance of the `GraphClient` and `Connect`ing that much.

If you go down the IOC route, I would suggest starting up `Neo4jClient` as a Singleton (if your IoC choice let's you)

All the best,

Chris

[2017-05-12 06:08] arturosevilla commented on #126
Hi @cskardon I just tried to install it but I guess you forgot to update a reference to `System.Net.Http` as the DLL references 4.1.1.0 but the nuget package lists 4.1.0.0 as a dependency, therefore the build breaks.

[2017-05-16 12:33] cskardon commented on #126
Hey @arturosevilla - Sorry about that - I didn't have time to update it until just now, it should work ok now - at least it Works on My Machine ;)

[2017-05-16 16:46] jedielson commented on #199
I Think in preview version it's already avaliable

[2017-05-17 08:00] cskardon commented on #199
I believe you're right - but after the pain of the last 'preview' I really don't want to go there until it's released :/

[2017-05-22 02:02] Olorin92 opened #226 "First request after start or long idle is slow through Neo4jClient"
Hi all,

As the title suggests, any initial request sent after a process starts or after the process is left idle for some random amount of time, is much slower than I'd expect.  Currently with a very basic request that takes around 19ms through a tool like Postman, I'm getting upwards of 700ms for the same request through Neo4jClient.

At first I thought this might be a proxy issue with HttpClien

[2017-05-22 02:24] Olorin92 commented on #226
Just as an update to this, the problem seems to be two fold. First off, the first running of a query in a new process is definitely taking time and is something I'm sure is to do with the HttpClient.

Secondly, the slow running after leaving idle for a few minutes **is a Neo4j thing, NOT this library**. I'm assuming a cache is being cleaned up somewhere along the line and so the new request has to

[2017-05-22 07:59] cskardon commented on #226
Thanks for reporting this, and for spending so much time investigating - I'm surprised with the `HttpClient` as I'm pretty sure it's used to do the initial check when you call `Connect` - so I would expect that call to be delayed, and the subsequent calls to be faster.

I presume this happens with all queries? No matter the size? Does it also happen with queries which are not returning values - i.

[2017-05-22 23:31] Olorin92 commented on #226
No problems, I wanted to try and figure out where the problem was as it was driving me mad!

I think the main problem I have with it is the fact that if you send 10 requests at once, all 10 of those requests end up waiting the random amount of time HttpClient seems to be taking to initialize itself. While I understand why, it still doesn't look good on a web page!

I havne't tested different opera

[2017-05-23 05:48] Olorin92 commented on #226
I've just run this test again with some WriteLines in amongst the functions in the Neo4jClient library. Output was as follows:

Started

Starting to fetch posts...
Current time is: 23/05/2017 3:15:32 PM
Constructing query
GraphClient - ConnectAsync: start
ResponseBuilder - ExecuteAsync: start
ResponseBuilder - PrepareAsync: start
ResponseBuilder - PrepareAsync: end 0
ResponseBuilder - ExecuteAsync

[2017-05-30 10:37] caitchison opened #227 "Newtonsoft CamelCaseNamingStrategy is not taken into account when generating Cypher"
When using the ```JsonObject``` attribute on a class, and then setting the ```NamingStrategyType```, the client doesn't generate ```Where``` clauses correctly.

**Example**
Given the following class:

[code]
If you use the client to generate a Where clause:
[code]
You should see ```WHERE (n.bar = 'test')``` in practice you get ```WHERE (n.Bar = 'test')```.
Seems to be similar in nature to #117

[2017-05-31 07:31] #227 closed

[2017-05-31 08:11] #219 closed

[2017-06-01 17:29] atbyrd opened #229 "How to query base on a list of id's"
I'm trying to create a query the finds records who id is in a list, so I don't have query the database multiple times. My query however is throwing an error. How can I fix this?

___Query___

    public static IEnumerable<CareTask> GetByIds(List<string> Ids)
    {
        return DBUtils.DBService.Cypher
            .Match("(node:Task)")
            .Where((Task node) => Ids.Contains(node.Id))

[2017-06-01 18:01] atbyrd commented on #229
I was able to get it working by using `IN` instead of `Contains`.
[code]

[2017-06-01 18:01] #229 closed

[2017-06-09 08:15] cskardon commented on #96
As it has been brought to my attention this is still alive, I'm going to close it now, as we're now on 2.x and I think this is resolved by using the user/pass overload of the constructor:

`new GraphClient(uri, "user", "pass");`

[2017-06-09 08:15] #96 closed

[2017-06-09 08:16] cskardon commented on #225
@Olorin92 I'm closing this issue now, please reopen if it needs to be!

[2017-06-09 08:16] #225 closed

[2017-06-09 08:34] cskardon commented on #215
Hi @morsanu - I presume you wouldn't have any reproducible code?

[2017-06-15 10:28] mztikz opened #230 "Question : How to set "Data" property when returning paths"
Hey,  I have 2 questions.
1)I have a query where I search relationships like that :
      var Links = graphClient.Cypher.Match("p= (n{reportId:{reportId}})-[r]->(b)")
             .WithParam("reportId", reportId)
             .Return(p=>Neo4jClient.Cypher.Return.As <IEnumerable<RelationshipInstance<Link>>>
              ("rels(p)"));
      var tmp = Links.Results;
The data gets the object but not